App/EzServiceClient/Service References/EzServiceReference/DbConstants.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DbConstants" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DbConstants" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="NLPaymentSystemTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Paypoint" />
      <xs:enumeration value="Pacnet" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NLPaymentSystemTypes" nillable="true" type="tns:NLPaymentSystemTypes" />
  <xs:simpleType name="RepaymentIntervalTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Month">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Day">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Week">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TenDays">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RepaymentIntervalTypes" nillable="true" type="tns:RepaymentIntervalTypes" />
  <xs:simpleType name="PricingCalcuatorScenarioNames">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BasicNew" />
      <xs:enumeration value="BasicRepeating" />
      <xs:enumeration value="Broker" />
      <xs:enumeration value="NonLimited" />
      <xs:enumeration value="SmallLoan" />
      <xs:enumeration value="SoleTraders" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PricingCalcuatorScenarioNames" nillable="true" type="tns:PricingCalcuatorScenarioNames" />
  <xs:simpleType name="AlibabaBusinessType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="APPLICATION_WS_3" />
      <xs:enumeration value="APPLICATION" />
      <xs:enumeration value="APPLICATION_REVIEW" />
      <xs:enumeration value="DRAW_REQUEST" />
      <xs:enumeration value="PAYMENT_CONFIRMATION" />
      <xs:enumeration value="LOAN_SERVICING" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AlibabaBusinessType" nillable="true" type="tns:AlibabaBusinessType" />
</xs:schema>