App/EzServiceClient/Service References/EzServiceReference/EchoSignLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EchoSignLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EchoSignLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfEchoSignEnvelope">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EchoSignEnvelope" nillable="true" type="tns:EchoSignEnvelope" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEchoSignEnvelope" nillable="true" type="tns:ArrayOfEchoSignEnvelope" />
  <xs:complexType name="EchoSignEnvelope">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Directors" nillable="true" type="q1:ArrayOfint" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ExperianDirectors" nillable="true" type="q2:ArrayOfint" />
      <xs:element minOccurs="0" name="SendToCustomer" type="xs:boolean" />
      <xs:element minOccurs="0" name="TemplateID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EchoSignEnvelope" nillable="true" type="tns:EchoSignEnvelope" />
</xs:schema>