App/EzServiceClient/Service References/EzServiceReference/Ezbob.Utils.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ezbob.Utils" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ezbob.Utils" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ElapsedTimeInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_oData" nillable="true" type="q1:ArrayOfKeyValueOfElapsedDataMemberTypelongpoA0JYJE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ElapsedTimeInfo" nillable="true" type="tns:ElapsedTimeInfo" />
  <xs:simpleType name="ElapsedDataMemberType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RetrieveDataFromExternalService" />
      <xs:enumeration value="RetrieveDataFromDatabase" />
      <xs:enumeration value="StoreDataToDatabase" />
      <xs:enumeration value="AggregateData" />
      <xs:enumeration value="StoreAggregatedData" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ElapsedDataMemberType" nillable="true" type="tns:ElapsedDataMemberType" />
</xs:schema>