App/EzServiceClient/Service References/EzServiceReference/Ezbob.Backend.ModelsWithDB.NewLoan.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Ezbob.Backend.ModelsWithDB.NewLoan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ezbob.Backend.ModelsWithDB.NewLoan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="NL_CashRequests">
    <xs:sequence>
      <xs:element minOccurs="0" name="CashRequestID" type="xs:int" />
      <xs:element minOccurs="0" name="CashRequestOriginID" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="OldCashRequestID" type="xs:long" />
      <xs:element minOccurs="0" name="RequestTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="NL_CashRequests" nillable="true" type="tns:NL_CashRequests" />
  <xs:complexType name="NL_Decisions">
    <xs:sequence>
      <xs:element minOccurs="0" name="CashRequestID" type="xs:int" />
      <xs:element minOccurs="0" name="DecisionID" type="xs:int" />
      <xs:element minOccurs="0" name="DecisionNameID" type="xs:int" />
      <xs:element minOccurs="0" name="DecisionTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InterestOnlyRepaymentCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsAmountSelectionAllowed" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRepaymentPeriodSelectionAllowed" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" type="xs:int" />
      <xs:element minOccurs="0" name="SendEmailNotification" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="NL_Decisions" nillable="true" type="tns:NL_Decisions" />
  <xs:complexType name="ArrayOfNL_DecisionRejectReasons">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NL_DecisionRejectReasons" nillable="true" type="tns:NL_DecisionRejectReasons" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNL_DecisionRejectReasons" nillable="true" type="tns:ArrayOfNL_DecisionRejectReasons" />
  <xs:complexType name="NL_DecisionRejectReasons">
    <xs:sequence>
      <xs:element minOccurs="0" name="DecisionID" type="xs:int" />
      <xs:element minOccurs="0" name="DecisionRejectReasonID" type="xs:int" />
      <xs:element minOccurs="0" name="RejectReasonID" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="NL_DecisionRejectReasons" nillable="true" type="tns:NL_DecisionRejectReasons" />
  <xs:complexType name="NL_Offers">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BrokerSetupFeePercent" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CreatedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DecisionID" type="xs:int" />
      <xs:element minOccurs="0" name="DiscountPlanID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InterestOnlyRepaymentCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsAmountSelectionAllowed" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLoanTypeSelectionAllowed" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRepaymentPeriodSelectionAllowed" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoanSourceID" type="xs:int" />
      <xs:element minOccurs="0" name="LoanTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="MonthlyInterestRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RepaymentCount" type="xs:int" />
      <xs:element minOccurs="0" name="RepaymentIntervalTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="SendEmailNotification" type="xs:boolean" />
      <xs:element minOccurs="0" name="SetupFeeAddedToLoan" type="xs:boolean" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="NL_Offers" nillable="true" type="tns:NL_Offers" />
  <xs:complexType name="NL_LoanLegals">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="COSMEAgreementAgreed" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreditActAgreementAgreed" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="EUAgreementAgreed" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="GuarantyAgreementAgreed" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoanLegalID" type="xs:int" />
      <xs:element minOccurs="0" name="NotInBankruptcy" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="OfferID" type="xs:int" />
      <xs:element minOccurs="0" name="PreContractAgreementAgreed" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PrivateCompanyLoanAgreementAgreed" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="RepaymentPeriod" type="xs:int" />
      <xs:element minOccurs="0" name="SignatureTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SignedName" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="NL_LoanLegals" nillable="true" type="tns:NL_LoanLegals" />
  <xs:complexType name="NL_LoanOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoCharge" type="xs:boolean" />
      <xs:element minOccurs="0" name="AutoInterest" type="xs:boolean" />
      <xs:element minOccurs="0" name="AutoLateFees" type="xs:boolean" />
      <xs:element minOccurs="0" name="CaisAccountStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailSendingAllowed" type="xs:boolean" />
      <xs:element minOccurs="0" name="InsertDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LatePaymentNotification" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoanID" type="xs:int" />
      <xs:element minOccurs="0" name="LoanOptionsID" type="xs:int" />
      <xs:element minOccurs="0" name="MailSendingAllowed" type="xs:boolean" />
      <xs:element minOccurs="0" name="ManualCaisFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReductionFee" type="xs:boolean" />
      <xs:element minOccurs="0" name="SmsSendingAllowed" type="xs:boolean" />
      <xs:element minOccurs="0" name="StopAutoChargeDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StopAutoInterestDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StopAutoLateFeesDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="NL_LoanOptions" nillable="true" type="tns:NL_LoanOptions" />
  <xs:complexType name="NL_FundTransfers">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="FundTransferID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoanID" type="xs:int" />
      <xs:element minOccurs="0" name="LoanTransactionMethodID" type="xs:int" />
      <xs:element minOccurs="0" name="TransferTime" type="xs:dateTime" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="NL_FundTransfers" nillable="true" type="tns:NL_FundTransfers" />
  <xs:complexType name="NL_Loans">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateClosed" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EzbobBankAccountID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="InitialLoanAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="InterestOnlyRepaymentCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="InterestRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="IssuedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoanID" type="xs:int" />
      <xs:element minOccurs="0" name="LoanSourceID" type="xs:int" />
      <xs:element minOccurs="0" name="LoanStatusID" type="xs:int" />
      <xs:element minOccurs="0" name="LoanTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="OfferID" type="xs:int" />
      <xs:element minOccurs="0" name="OldLoanID" type="xs:int" />
      <xs:element minOccurs="0" name="Position" type="xs:int" />
      <xs:element minOccurs="0" name="Refnum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RepaymentCount" type="xs:int" />
      <xs:element minOccurs="0" name="RepaymentIntervalTypeID" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="NL_Loans" nillable="true" type="tns:NL_Loans" />
  <xs:complexType name="ArrayOfNL_LoanAgreements">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NL_LoanAgreements" nillable="true" type="tns:NL_LoanAgreements" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNL_LoanAgreements" nillable="true" type="tns:ArrayOfNL_LoanAgreements" />
  <xs:complexType name="NL_LoanAgreements">
    <xs:sequence>
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanAgreementID" type="xs:int" />
      <xs:element minOccurs="0" name="LoanAgreementTemplateID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LoanHistoryID" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="NL_LoanAgreements" nillable="true" type="tns:NL_LoanAgreements" />
  <xs:complexType name="ArrayOfNL_LoanFeeTypes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NL_LoanFeeTypes" nillable="true" type="tns:NL_LoanFeeTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNL_LoanFeeTypes" nillable="true" type="tns:ArrayOfNL_LoanFeeTypes" />
  <xs:complexType name="NL_LoanFeeTypes">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoanFeeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanFeeTypeID" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="NL_LoanFeeTypes" nillable="true" type="tns:NL_LoanFeeTypes" />
  <xs:complexType name="ArrayOfNL_LoanFees">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NL_LoanFees" nillable="true" type="tns:NL_LoanFees" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNL_LoanFees" nillable="true" type="tns:ArrayOfNL_LoanFees" />
  <xs:complexType name="NL_LoanFees">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="AssignTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AssignedByUserID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeletedByUserID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DisabledTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoanFeeID" type="xs:int" />
      <xs:element minOccurs="0" name="LoanFeeTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="LoanID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="NL_LoanFees" nillable="true" type="tns:NL_LoanFees" />
  <xs:complexType name="NL_LoanHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgreementModel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InterestRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LoanHistoryID" type="xs:int" />
      <xs:element minOccurs="0" name="LoanID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LoanLegalID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RepaymentCount" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="NL_LoanHistory" nillable="true" type="tns:NL_LoanHistory" />
  <xs:complexType name="ArrayOfNL_LoanStatuses">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NL_LoanStatuses" nillable="true" type="tns:NL_LoanStatuses" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNL_LoanStatuses" nillable="true" type="tns:ArrayOfNL_LoanStatuses" />
  <xs:complexType name="NL_LoanStatuses">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoanStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanStatusID" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="NL_LoanStatuses" nillable="true" type="tns:NL_LoanStatuses" />
  <xs:complexType name="NL_PacnetTransactions">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="FundTransferID" type="xs:int" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PacnetTransactionID" type="xs:int" />
      <xs:element minOccurs="0" name="PacnetTransactionStatusID" type="xs:int" />
      <xs:element minOccurs="0" name="StatusUpdatedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TrackingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionTime" type="xs:dateTime" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="NL_PacnetTransactions" nillable="true" type="tns:NL_PacnetTransactions" />
  <xs:complexType name="ArrayOfNL_PacnetTransactionStatuses">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NL_PacnetTransactionStatuses" nillable="true" type="tns:NL_PacnetTransactionStatuses" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNL_PacnetTransactionStatuses" nillable="true" type="tns:ArrayOfNL_PacnetTransactionStatuses" />
  <xs:complexType name="NL_PacnetTransactionStatuses">
    <xs:sequence>
      <xs:element minOccurs="0" name="PacnetTransactionStatusID" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionStatus" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="NL_PacnetTransactionStatuses" nillable="true" type="tns:NL_PacnetTransactionStatuses" />
  <xs:complexType name="NL_Payments">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CreatedByUserID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreationTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeletedByUserID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DeletionTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentID" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentMethodID" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentTime" type="xs:dateTime" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="NL_Payments" nillable="true" type="tns:NL_Payments" />
  <xs:complexType name="ArrayOfNL_LoanFeePayments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NL_LoanFeePayments" nillable="true" type="tns:NL_LoanFeePayments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNL_LoanFeePayments" nillable="true" type="tns:ArrayOfNL_LoanFeePayments" />
  <xs:complexType name="NL_LoanFeePayments">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="LoanFeeID" type="xs:int" />
      <xs:element minOccurs="0" name="LoanFeePaymentID" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentID" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="NL_LoanFeePayments" nillable="true" type="tns:NL_LoanFeePayments" />
  <xs:complexType name="ArrayOfNL_LoanSchedulePayments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NL_LoanSchedulePayments" nillable="true" type="tns:NL_LoanSchedulePayments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNL_LoanSchedulePayments" nillable="true" type="tns:ArrayOfNL_LoanSchedulePayments" />
  <xs:complexType name="NL_LoanSchedulePayments">
    <xs:sequence>
      <xs:element minOccurs="0" name="InterestPaid" type="xs:decimal" />
      <xs:element minOccurs="0" name="LoanScheduleID" type="xs:int" />
      <xs:element minOccurs="0" name="LoanSchedulePaymentID" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentID" type="xs:int" />
      <xs:element minOccurs="0" name="PrincipalPaid" type="xs:decimal" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="NL_LoanSchedulePayments" nillable="true" type="tns:NL_LoanSchedulePayments" />
  <xs:complexType name="NL_PaypointTransactions">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentID" type="xs:int" />
      <xs:element minOccurs="0" name="PaypointCardID" type="xs:int" />
      <xs:element minOccurs="0" name="PaypointTransactionID" type="xs:int" />
      <xs:element minOccurs="0" name="PaypointTransactionStatusID" type="xs:int" />
      <xs:element minOccurs="0" name="PaypointUniqID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionTime" type="xs:dateTime" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="NL_PaypointTransactions" nillable="true" type="tns:NL_PaypointTransactions" />
  <xs:complexType name="ArrayOfNL_RepaymentIntervalTypes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NL_RepaymentIntervalTypes" nillable="true" type="tns:NL_RepaymentIntervalTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNL_RepaymentIntervalTypes" nillable="true" type="tns:ArrayOfNL_RepaymentIntervalTypes" />
  <xs:complexType name="NL_RepaymentIntervalTypes">
    <xs:sequence>
      <xs:element minOccurs="0" name="RepaymentIntervalType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RepaymentIntervalTypeID" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="NL_RepaymentIntervalTypes" nillable="true" type="tns:NL_RepaymentIntervalTypes" />
  <xs:complexType name="ArrayOfNL_LoanSchedules">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NL_LoanSchedules" nillable="true" type="tns:NL_LoanSchedules" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNL_LoanSchedules" nillable="true" type="tns:ArrayOfNL_LoanSchedules" />
  <xs:complexType name="NL_LoanSchedules">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClosedTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InterestRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="LoanHistoryID" type="xs:int" />
      <xs:element minOccurs="0" name="LoanScheduleID" type="xs:int" />
      <xs:element minOccurs="0" name="PlannedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Position" type="xs:int" />
      <xs:element minOccurs="0" name="Principal" type="xs:decimal" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="NL_LoanSchedules" nillable="true" type="tns:NL_LoanSchedules" />
</xs:schema>