App/EzServiceClient/Service References/EzServiceReference/Ezbob.Backend.ModelsWithDB.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Ezbob.Backend.ModelsWithDB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ezbob.Backend.ModelsWithDB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EZBob.DatabaseLib.Model.Database" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="WriteToLogPackage.InputData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyRefNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DirectorID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Request" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Response" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EZBob.DatabaseLib.Model.Database" minOccurs="0" name="ServiceType" type="q1:ExperianServiceType" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WriteToLogPackage.InputData" nillable="true" type="tns:WriteToLogPackage.InputData" />
  <xs:complexType name="CampaignSourceRef">
    <xs:sequence>
      <xs:element minOccurs="0" name="FContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FMedium" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FTerm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RMedium" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RTerm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CampaignSourceRef" nillable="true" type="tns:CampaignSourceRef" />
  <xs:complexType name="BrokerInstantOfferRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnnualProfit" type="xs:decimal" />
      <xs:element minOccurs="0" name="AnnualTurnover" type="xs:decimal" />
      <xs:element minOccurs="0" name="BrokerId" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyNameNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExperianCompanyLegalStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExperianCompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExperianCompanyPostcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExperianRefNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsHomeOwner" type="xs:boolean" />
      <xs:element minOccurs="0" name="MainApplicantCreditScore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumOfEmployees" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="BrokerInstantOfferRequest" nillable="true" type="tns:BrokerInstantOfferRequest" />
  <xs:complexType name="BrokerInstantOfferResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApprovedSum" type="xs:int" />
      <xs:element minOccurs="0" name="BrokerInstantOfferRequestId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InterestRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="LoanSourceId" type="xs:int" />
      <xs:element minOccurs="0" name="LoanTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="RepaymentPeriod" type="xs:int" />
      <xs:element minOccurs="0" name="UseBrokerSetupFee" type="xs:boolean" />
      <xs:element minOccurs="0" name="UseSetupFee" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="BrokerInstantOfferResponse" nillable="true" type="tns:BrokerInstantOfferResponse" />
</xs:schema>