App/EzServiceClient/Service References/EzServiceReference/Ezbob.Backend.ModelsWithDB.NewLoan.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Ezbob.Backend.ModelsWithDB.NewLoan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ezbob.Backend.ModelsWithDB.NewLoan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" />
  <xs:complexType name="NL_CashRequests">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AStringable">
        <xs:sequence>
          <xs:element minOccurs="0" name="CashRequestID" type="xs:long" />
          <xs:element minOccurs="0" name="CashRequestOriginID" type="xs:int" />
          <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
          <xs:element minOccurs="0" name="OldCashRequestID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="RequestTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UserID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NL_CashRequests" nillable="true" type="tns:NL_CashRequests" />
  <xs:complexType name="AStringable">
    <xs:sequence />
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="AStringable" nillable="true" type="tns:AStringable" />
  <xs:complexType name="NL_Decisions">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AStringable">
        <xs:sequence>
          <xs:element minOccurs="0" name="CashRequestID" type="xs:long" />
          <xs:element minOccurs="0" name="DecisionID" type="xs:long" />
          <xs:element minOccurs="0" name="DecisionNameID" type="xs:int" />
          <xs:element minOccurs="0" name="DecisionTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Position" type="xs:int" />
          <xs:element minOccurs="0" name="UserID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NL_Decisions" nillable="true" type="tns:NL_Decisions" />
  <xs:complexType name="ArrayOfNL_DecisionRejectReasons">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NL_DecisionRejectReasons" nillable="true" type="tns:NL_DecisionRejectReasons" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNL_DecisionRejectReasons" nillable="true" type="tns:ArrayOfNL_DecisionRejectReasons" />
  <xs:complexType name="NL_DecisionRejectReasons">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AStringable">
        <xs:sequence>
          <xs:element minOccurs="0" name="DecisionID" type="xs:long" />
          <xs:element minOccurs="0" name="DecisionRejectReasonID" type="xs:int" />
          <xs:element minOccurs="0" name="RejectReasonID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NL_DecisionRejectReasons" nillable="true" type="tns:NL_DecisionRejectReasons" />
  <xs:complexType name="NL_Offers">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AStringable">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="BrokerSetupFeePercent" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="CreatedTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DecisionID" type="xs:long" />
          <xs:element minOccurs="0" name="DiscountPlanID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="InterestOnlyRepaymentCount" type="xs:int" />
          <xs:element minOccurs="0" name="IsAmountSelectionAllowed" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsLoanTypeSelectionAllowed" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsRepaymentPeriodSelectionAllowed" type="xs:boolean" />
          <xs:element minOccurs="0" name="LoanSourceID" type="xs:int" />
          <xs:element minOccurs="0" name="LoanTypeID" type="xs:int" />
          <xs:element minOccurs="0" name="MonthlyInterestRate" type="xs:decimal" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RepaymentCount" type="xs:int" />
          <xs:element minOccurs="0" name="RepaymentIntervalTypeID" type="xs:int" />
          <xs:element minOccurs="0" name="SendEmailNotification" type="xs:boolean" />
          <xs:element minOccurs="0" name="SetupFeeAddedToLoan" type="xs:boolean" />
          <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NL_Offers" nillable="true" type="tns:NL_Offers" />
  <xs:complexType name="ArrayOfNL_OfferFees">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NL_OfferFees" nillable="true" type="tns:NL_OfferFees" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNL_OfferFees" nillable="true" type="tns:ArrayOfNL_OfferFees" />
  <xs:complexType name="NL_OfferFees">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AStringable">
        <xs:sequence>
          <xs:element minOccurs="0" name="AbsoluteAmount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="DistributedPartPercent" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="LoanFeeTypeID" type="xs:int" />
          <xs:element minOccurs="0" name="OfferFeeID" type="xs:long" />
          <xs:element minOccurs="0" name="OfferID" type="xs:long" />
          <xs:element minOccurs="0" name="OneTimePartPercent" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Percent" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NL_OfferFees" nillable="true" type="tns:NL_OfferFees" />
  <xs:complexType name="NL_LoanLegals">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AStringable">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="COSMEAgreementAgreed" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="CreditActAgreementAgreed" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="EUAgreementAgreed" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="GuarantyAgreementAgreed" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="LoanLegalID" type="xs:long" />
          <xs:element minOccurs="0" name="NotInBankruptcy" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="OfferID" type="xs:long" />
          <xs:element minOccurs="0" name="PreContractAgreementAgreed" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="PrivateCompanyLoanAgreementAgreed" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="RepaymentPeriod" type="xs:int" />
          <xs:element minOccurs="0" name="SignatureTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SignedName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NL_LoanLegals" nillable="true" type="tns:NL_LoanLegals" />
  <xs:complexType name="NL_LoanOptions">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AStringable">
        <xs:sequence>
          <xs:element minOccurs="0" name="AutoCharge" type="xs:boolean" />
          <xs:element minOccurs="0" name="AutoInterest" type="xs:boolean" />
          <xs:element minOccurs="0" name="AutoLateFees" type="xs:boolean" />
          <xs:element minOccurs="0" name="CaisAccountStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmailSendingAllowed" type="xs:boolean" />
          <xs:element minOccurs="0" name="InsertDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="LatePaymentNotification" type="xs:boolean" />
          <xs:element minOccurs="0" name="LoanID" type="xs:long" />
          <xs:element minOccurs="0" name="LoanOptionsID" type="xs:long" />
          <xs:element minOccurs="0" name="MailSendingAllowed" type="xs:boolean" />
          <xs:element minOccurs="0" name="ManualCaisFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReductionFee" type="xs:boolean" />
          <xs:element minOccurs="0" name="SmsSendingAllowed" type="xs:boolean" />
          <xs:element minOccurs="0" name="StopAutoChargeDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="StopAutoInterestDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="StopAutoLateFeesDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NL_LoanOptions" nillable="true" type="tns:NL_LoanOptions" />
  <xs:complexType name="NL_Model">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AStringable">
        <xs:sequence>
          <xs:element minOccurs="0" name="APR" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="AgreementModel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Agreements" nillable="true" type="tns:ArrayOfNLAgreementItem" />
          <xs:element minOccurs="0" name="BrokerComissions" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="CalculatorImplementation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DiscountPlan" nillable="true" type="q1:ArrayOfdecimal" />
          <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Fees" nillable="true" type="tns:ArrayOfNLFeeItem" />
          <xs:element minOccurs="0" name="FundTransfer" nillable="true" type="tns:NL_FundTransfers" />
          <xs:element minOccurs="0" name="Histories" nillable="true" type="tns:ArrayOfNL_LoanHistory" />
          <xs:element minOccurs="0" name="Loan" nillable="true" type="tns:NL_Loans" />
          <xs:element minOccurs="0" name="Offer" nillable="true" type="tns:NL_Offers" />
          <xs:element minOccurs="0" name="PacnetTransaction" nillable="true" type="tns:NL_PacnetTransactions" />
          <xs:element minOccurs="0" name="PacnetTransactionStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Payment" nillable="true" type="tns:NL_Payments" />
          <xs:element minOccurs="0" name="PaypointTransaction" nillable="true" type="tns:NL_PaypointTransactions" />
          <xs:element minOccurs="0" name="PaypointTransactionStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Schedule" nillable="true" type="tns:ArrayOfNLScheduleItem" />
          <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NL_Model" nillable="true" type="tns:NL_Model" />
  <xs:complexType name="ArrayOfNLAgreementItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NLAgreementItem" nillable="true" type="tns:NLAgreementItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNLAgreementItem" nillable="true" type="tns:ArrayOfNLAgreementItem" />
  <xs:complexType name="NLAgreementItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AStringable">
        <xs:sequence>
          <xs:element minOccurs="0" name="Agreement" nillable="true" type="tns:NL_LoanAgreements" />
          <xs:element minOccurs="0" name="Path1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Path2" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="TemplateModel" nillable="true" type="q2:TemplateModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NLAgreementItem" nillable="true" type="tns:NLAgreementItem" />
  <xs:complexType name="NL_LoanAgreements">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AStringable">
        <xs:sequence>
          <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LoanAgreementID" type="xs:long" />
          <xs:element minOccurs="0" name="LoanAgreementTemplateID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="LoanHistoryID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NL_LoanAgreements" nillable="true" type="tns:NL_LoanAgreements" />
  <xs:complexType name="ArrayOfNLFeeItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NLFeeItem" nillable="true" type="tns:NLFeeItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNLFeeItem" nillable="true" type="tns:ArrayOfNLFeeItem" />
  <xs:complexType name="NLFeeItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AStringable">
        <xs:sequence>
          <xs:element minOccurs="0" name="Fee" nillable="true" type="tns:NL_LoanFees" />
          <xs:element minOccurs="0" name="FeePayment" nillable="true" type="tns:NL_LoanFeePayments" />
          <xs:element minOccurs="0" name="OfferFees" nillable="true" type="tns:NL_OfferFees" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NLFeeItem" nillable="true" type="tns:NLFeeItem" />
  <xs:complexType name="NL_LoanFees">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AStringable">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="AssignTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="AssignedByUserID" type="xs:int" />
          <xs:element minOccurs="0" name="CreatedTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DeletedByUserID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="DisabledTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LoanFeeID" type="xs:long" />
          <xs:element minOccurs="0" name="LoanFeeTypeID" type="xs:int" />
          <xs:element minOccurs="0" name="LoanID" type="xs:long" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NL_LoanFees" nillable="true" type="tns:NL_LoanFees" />
  <xs:complexType name="NL_LoanFeePayments">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AStringable">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="LoanFeeID" type="xs:long" />
          <xs:element minOccurs="0" name="LoanFeePaymentID" type="xs:long" />
          <xs:element minOccurs="0" name="PaymentID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NL_LoanFeePayments" nillable="true" type="tns:NL_LoanFeePayments" />
  <xs:complexType name="NL_FundTransfers">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AStringable">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="DeletedByUserID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="DeletionTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FundTransferID" type="xs:long" />
          <xs:element minOccurs="0" name="FundTransferStatusID" type="xs:int" />
          <xs:element minOccurs="0" name="LoanID" type="xs:long" />
          <xs:element minOccurs="0" name="LoanTransactionMethodID" type="xs:int" />
          <xs:element minOccurs="0" name="TransferTime" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NL_FundTransfers" nillable="true" type="tns:NL_FundTransfers" />
  <xs:complexType name="ArrayOfNL_LoanHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NL_LoanHistory" nillable="true" type="tns:NL_LoanHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNL_LoanHistory" nillable="true" type="tns:ArrayOfNL_LoanHistory" />
  <xs:complexType name="NL_LoanHistory">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AStringable">
        <xs:sequence>
          <xs:element minOccurs="0" name="AgreementModel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EventTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="InterestRate" type="xs:decimal" />
          <xs:element minOccurs="0" name="LoanHistoryID" type="xs:long" />
          <xs:element minOccurs="0" name="LoanID" type="xs:long" />
          <xs:element minOccurs="0" name="LoanLegalID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="RepaymentCount" type="xs:int" />
          <xs:element minOccurs="0" name="RepaymentIntervalTypeID" type="xs:int" />
          <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NL_LoanHistory" nillable="true" type="tns:NL_LoanHistory" />
  <xs:complexType name="NL_Loans">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AStringable">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreationTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateClosed" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EzbobBankAccountID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="InterestOnlyRepaymentCount" type="xs:int" />
          <xs:element minOccurs="0" name="LoanID" type="xs:long" />
          <xs:element minOccurs="0" name="LoanSourceID" type="xs:int" />
          <xs:element minOccurs="0" name="LoanStatusID" type="xs:int" />
          <xs:element minOccurs="0" name="LoanTypeID" type="xs:int" />
          <xs:element minOccurs="0" name="OfferID" type="xs:long" />
          <xs:element minOccurs="0" name="OldLoanID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Position" type="xs:int" />
          <xs:element minOccurs="0" name="Refnum" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NL_Loans" nillable="true" type="tns:NL_Loans" />
  <xs:complexType name="NL_PacnetTransactions">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AStringable">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="FundTransferID" type="xs:long" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PacnetTransactionID" type="xs:long" />
          <xs:element minOccurs="0" name="PacnetTransactionStatusID" type="xs:int" />
          <xs:element minOccurs="0" name="StatusUpdatedTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TrackingNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionTime" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NL_PacnetTransactions" nillable="true" type="tns:NL_PacnetTransactions" />
  <xs:complexType name="NL_Payments">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AStringable">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="CreatedByUserID" type="xs:int" />
          <xs:element minOccurs="0" name="CreationTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DeletedByUserID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="DeletionNotificationTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DeletionTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PaymentID" type="xs:long" />
          <xs:element minOccurs="0" name="PaymentMethodID" type="xs:int" />
          <xs:element minOccurs="0" name="PaymentStatusID" type="xs:int" />
          <xs:element minOccurs="0" name="PaymentTime" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NL_Payments" nillable="true" type="tns:NL_Payments" />
  <xs:complexType name="NL_PaypointTransactions">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AStringable">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PaymentID" type="xs:long" />
          <xs:element minOccurs="0" name="PaypointCardID" type="xs:int" />
          <xs:element minOccurs="0" name="PaypointTransactionID" type="xs:long" />
          <xs:element minOccurs="0" name="PaypointTransactionStatusID" type="xs:int" />
          <xs:element minOccurs="0" name="PaypointUniqueID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionTime" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NL_PaypointTransactions" nillable="true" type="tns:NL_PaypointTransactions" />
  <xs:complexType name="ArrayOfNLScheduleItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NLScheduleItem" nillable="true" type="tns:NLScheduleItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNLScheduleItem" nillable="true" type="tns:ArrayOfNLScheduleItem" />
  <xs:complexType name="NLScheduleItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AStringable">
        <xs:sequence>
          <xs:element minOccurs="0" name="ScheduleItem" nillable="true" type="tns:NL_LoanSchedules" />
          <xs:element minOccurs="0" name="ScheduleItemPayment" nillable="true" type="tns:NL_LoanSchedulePayments" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NLScheduleItem" nillable="true" type="tns:NLScheduleItem" />
  <xs:complexType name="NL_LoanSchedules">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AStringable">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClosedTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="InterestRate" type="xs:decimal" />
          <xs:element minOccurs="0" name="LoanHistoryID" type="xs:long" />
          <xs:element minOccurs="0" name="LoanScheduleID" type="xs:long" />
          <xs:element minOccurs="0" name="LoanScheduleStatusID" type="xs:int" />
          <xs:element minOccurs="0" name="PlannedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Position" type="xs:int" />
          <xs:element minOccurs="0" name="Principal" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NL_LoanSchedules" nillable="true" type="tns:NL_LoanSchedules" />
  <xs:complexType name="NL_LoanSchedulePayments">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AStringable">
        <xs:sequence>
          <xs:element minOccurs="0" name="InterestPaid" type="xs:decimal" />
          <xs:element minOccurs="0" name="LoanScheduleID" type="xs:long" />
          <xs:element minOccurs="0" name="LoanSchedulePaymentID" type="xs:long" />
          <xs:element minOccurs="0" name="PaymentID" type="xs:long" />
          <xs:element minOccurs="0" name="PrincipalPaid" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NL_LoanSchedulePayments" nillable="true" type="tns:NL_LoanSchedulePayments" />
</xs:schema>