App/EzServiceClient/Service References/EzServiceReference/EzBob.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EzBob.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EzBob.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="EditLoanDetailsModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CashRequestId" type="xs:long" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Errors" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InterestFreeze" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="InterestRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfSchedultItemModel" />
      <xs:element minOccurs="0" name="LoanType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SetupFee" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditLoanDetailsModel" nillable="true" type="tns:EditLoanDetailsModel" />
  <xs:complexType name="ArrayOfSchedultItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SchedultItemModel" nillable="true" type="tns:SchedultItemModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSchedultItemModel" nillable="true" type="tns:ArrayOfSchedultItemModel" />
  <xs:complexType name="SchedultItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="BalanceBeforeRepayment" type="xs:decimal" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deletable" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Editable" type="xs:boolean" />
      <xs:element minOccurs="0" name="Editor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fees" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Interest" type="xs:decimal" />
      <xs:element minOccurs="0" name="InterestRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="Principal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SchedultItemModel" nillable="true" type="tns:SchedultItemModel" />
</xs:schema>