App/EzServiceClient/Service References/EzServiceReference/Ezbob.Backend.Models.NewLoan.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models.NewLoan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models.NewLoan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DbConstants" />
  <xs:complexType name="ReschedulingArgument">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoanID" type="xs:int" />
      <xs:element minOccurs="0" name="LoanType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentPerInterval" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RescheduleIn" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReschedulingDate" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DbConstants" minOccurs="0" name="ReschedulingRepaymentIntervalType" type="q1:RepaymentIntervalTypes" />
      <xs:element minOccurs="0" name="SaveToDB" type="xs:boolean" />
      <xs:element minOccurs="0" name="StopFutureInterest" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReschedulingArgument" nillable="true" type="tns:ReschedulingArgument" />
  <xs:complexType name="ReschedulingResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlockAction" type="xs:boolean" />
      <xs:element minOccurs="0" name="DefaultPaymentPerInterval" type="xs:decimal" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstPaymentInterest" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IntervalsNum" type="xs:int" />
      <xs:element minOccurs="0" name="LastPaidItemDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoanID" type="xs:int" />
      <xs:element minOccurs="0" name="LoanInterestRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="OpenPrincipal" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReschedulingBalance" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReschedulingIntervalEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReschedulingIntervalStart" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DbConstants" minOccurs="0" name="ReschedulingRepaymentIntervalType" type="q2:RepaymentIntervalTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReschedulingResult" nillable="true" type="tns:ReschedulingResult" />
</xs:schema>