App/EzServiceClient/Service References/EzServiceReference/EZBob.DatabaseLib.Model.Database.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EZBob.DatabaseLib.Model.Database" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EZBob.DatabaseLib.Model.Database" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="CustomerOriginEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ezbob">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="everline">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="alibaba">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CustomerOriginEnum" nillable="true" type="tns:CustomerOriginEnum" />
  <xs:simpleType name="CashRequestOriginator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FinishedWizard">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="QuickOffer">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RequestCashBtn">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NewCreditLineBtn">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Other">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RequalifyCustomerStrategy">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ForcedWizardCompletion">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Approved">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Manual">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NewCreditLineSkipAll">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NewCreditLineSkipAndGoAuto">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NewCreditLineUpdateAndGoManual">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NewCreditLineUpdateAndGoAuto">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">13</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CashRequestOriginator" nillable="true" type="tns:CashRequestOriginator" />
  <xs:simpleType name="ExperianServiceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Aml" />
      <xs:enumeration value="Askville" />
      <xs:enumeration value="Bwa" />
      <xs:enumeration value="Consumer" />
      <xs:enumeration value="LimitedData" />
      <xs:enumeration value="NonLimitedData" />
      <xs:enumeration value="Targeting" />
      <xs:enumeration value="CreditSafeLtd" />
      <xs:enumeration value="CreditSafeNonLtd" />
      <xs:enumeration value="CreditSafeNonLtdTargeting" />
      <xs:enumeration value="CallCredit" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ExperianServiceType" nillable="true" type="tns:ExperianServiceType" />
  <xs:simpleType name="TypeOfBusiness">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Entrepreneur" />
      <xs:enumeration value="LLP" />
      <xs:enumeration value="PShip3P" />
      <xs:enumeration value="PShip" />
      <xs:enumeration value="SoleTrader" />
      <xs:enumeration value="Limited" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TypeOfBusiness" nillable="true" type="tns:TypeOfBusiness" />
  <xs:simpleType name="CreditResultStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WaitingForDecision" />
      <xs:enumeration value="Escalated" />
      <xs:enumeration value="Rejected" />
      <xs:enumeration value="Approved" />
      <xs:enumeration value="CustomerRefused" />
      <xs:enumeration value="ApprovedPending" />
      <xs:enumeration value="Active" />
      <xs:enumeration value="Collection" />
      <xs:enumeration value="Legal" />
      <xs:enumeration value="PaidOff" />
      <xs:enumeration value="WrittenOff" />
      <xs:enumeration value="Late" />
      <xs:enumeration value="PendingInvestor" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CreditResultStatus" nillable="true" type="tns:CreditResultStatus" />
</xs:schema>