App/EzServiceClient/Service References/EzServiceReference/Ezbob.Backend.Models.ExternalAPI1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models.ExternalAPI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models.ExternalAPI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AlibabaAvailableCreditResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="OfferStart" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="OfferValidUntil" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="aId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="aliMemberId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="creditLine" nillable="true" type="xs:decimal">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="creditLine_USD" nillable="true" type="xs:decimal">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="lineStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="loanId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="unusedCreditAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="unusedCreditAmount_USD" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlibabaAvailableCreditResult" nillable="true" type="tns:AlibabaAvailableCreditResult" />
  <xs:complexType name="AlibabaContractDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="aId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="aliMemberId" type="xs:long" />
      <xs:element minOccurs="0" name="attachmentBillOfLading" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="attachmentCommercialInvoice" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="attachmentOther" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="attachmentPackingList" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="bankAccountNumber" type="xs:int" />
      <xs:element minOccurs="0" name="bankCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bankCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bankPostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bankState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bankStreetAddr1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bankStreetAddr2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="beneficiaryBank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="buyerAuthRepFname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="buyerAuthRepLname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="buyerBusinessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="buyerCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="buyerConfirmReleaseFunds" type="xs:boolean" />
      <xs:element minOccurs="0" name="buyerConfirmShippingDocAndAmount" type="xs:boolean" />
      <xs:element minOccurs="0" name="buyerCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="buyerEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="buyerFax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="buyerOrderRequestCountLastYear" type="xs:int" />
      <xs:element minOccurs="0" name="buyerPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="buyerState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="buyerStreet1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="buyerStreet2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="buyerZip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="destinationPort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deviationQuantityAllowed" type="xs:int" />
      <xs:element minOccurs="0" name="financingType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="goldSupplierFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="loadingPort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="loanId" type="xs:int" />
      <xs:element minOccurs="0" name="orderAddtlDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderBalance" type="xs:int" />
      <xs:element minOccurs="0" name="orderCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderDeposit" type="xs:int" />
      <xs:element minOccurs="0" name="orderItems" nillable="true" type="tns:ArrayOfOrderItems" />
      <xs:element minOccurs="0" name="orderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="otherWireInstructions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="quotationPerformance" type="xs:int" />
      <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responseId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sellerAliMemberId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sellerAuthRepFname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sellerAuthRepLname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sellerBusinessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sellerCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sellerCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sellerEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sellerFax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sellerPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sellerPostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sellerState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sellerStreet1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sellerStreet2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shippingDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="shippingMark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shippingTerms" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="supplierBusinessStartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="supplierGoldMemberStartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="supplierResponseRate" type="xs:int" />
      <xs:element minOccurs="0" name="supplierSize" type="xs:int" />
      <xs:element minOccurs="0" name="supplierTenureWithAlibaba" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="suspiciousReportCountCounterfeitProduct" type="xs:int" />
      <xs:element minOccurs="0" name="suspiciousReportCountRestrictedProhibitedProduct" type="xs:int" />
      <xs:element minOccurs="0" name="suspiciousReportCountSuspiciousMember" type="xs:int" />
      <xs:element minOccurs="0" name="swiftcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="taCoveredAmount" type="xs:int" />
      <xs:element minOccurs="0" name="totalOrderAmount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlibabaContractDto" nillable="true" type="tns:AlibabaContractDto" />
  <xs:complexType name="ArrayOfOrderItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderItems" nillable="true" type="tns:OrderItems" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderItems" nillable="true" type="tns:ArrayOfOrderItems" />
  <xs:complexType name="OrderItems">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderProdNumber" type="xs:int" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="productSpecs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productTotalAmount" type="xs:int" />
      <xs:element minOccurs="0" name="productUnit" type="xs:int" />
      <xs:element minOccurs="0" name="productUnitPrice" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderItems" nillable="true" type="tns:OrderItems" />
  <xs:complexType name="AlibabaSaleContractResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="aId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="aliMemberId" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlibabaSaleContractResult" nillable="true" type="tns:AlibabaSaleContractResult" />
  <xs:complexType name="ApiCallData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerRefNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Request" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Response" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApiCallData" nillable="true" type="tns:ApiCallData" />
</xs:schema>