App/EzServiceClient/Service References/EzServiceReference/EzBob.Backend.Strategies.PricingModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EzBob.Backend.Strategies.PricingModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EzBob.Backend.Strategies.PricingModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PricingModelModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AverageLoanAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="AverageRevenuePerLoan" type="xs:decimal" />
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="Cogs" type="xs:decimal" />
      <xs:element minOccurs="0" name="CogsOutput" type="xs:decimal" />
      <xs:element minOccurs="0" name="CollectionRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="CostOfDebt" type="xs:decimal" />
      <xs:element minOccurs="0" name="CostOfDebtOutput" type="xs:decimal" />
      <xs:element minOccurs="0" name="DebtPercentOfCapital" type="xs:decimal" />
      <xs:element minOccurs="0" name="DefaultRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="Ebitda" type="xs:decimal" />
      <xs:element minOccurs="0" name="EuLoanPercentages" type="xs:decimal" />
      <xs:element minOccurs="0" name="GrossProfit" type="xs:decimal" />
      <xs:element minOccurs="0" name="InterestOnlyPeriod" type="xs:int" />
      <xs:element minOccurs="0" name="InterestRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="LoanAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="LoanTerm" type="xs:int" />
      <xs:element minOccurs="0" name="MonthlyInterestToCharge" type="xs:decimal" />
      <xs:element minOccurs="0" name="NetLossFromDefaults" type="xs:decimal" />
      <xs:element minOccurs="0" name="OpexAndCapex" type="xs:decimal" />
      <xs:element minOccurs="0" name="OpexAndCapexOutput" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProfitBeforeTax" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProfitBeforeTaxOutput" type="xs:decimal" />
      <xs:element minOccurs="0" name="SetupFeeForEuLoan" type="xs:decimal" />
      <xs:element minOccurs="0" name="SetupFeePercents" type="xs:decimal" />
      <xs:element minOccurs="0" name="SetupFeePounds" type="xs:decimal" />
      <xs:element minOccurs="0" name="TenureMonths" type="xs:decimal" />
      <xs:element minOccurs="0" name="TenurePercents" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalCost" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PricingModelModel" nillable="true" type="tns:PricingModelModel" />
</xs:schema>