App/EzServiceClient/Service References/EzServiceReference/Ezbob.Backend.Strategies.PricingModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Strategies.PricingModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Strategies.PricingModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PricingModelModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrokerSetupFeePercents" type="xs:decimal" />
      <xs:element minOccurs="0" name="Cogs" type="xs:decimal" />
      <xs:element minOccurs="0" name="CogsOutput" type="xs:decimal" />
      <xs:element minOccurs="0" name="CollectionRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="CompanyScore" type="xs:int" />
      <xs:element minOccurs="0" name="ConsumerScore" type="xs:int" />
      <xs:element minOccurs="0" name="CosmeCollectionRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="CostOfDebt" type="xs:decimal" />
      <xs:element minOccurs="0" name="CostOfDebtOutput" type="xs:decimal" />
      <xs:element minOccurs="0" name="DebtPercentOfCapital" type="xs:decimal" />
      <xs:element minOccurs="0" name="DefaultRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="DefaultRateCompanyShare" type="xs:decimal" />
      <xs:element minOccurs="0" name="DefaultRateCustomerShare" type="xs:decimal" />
      <xs:element minOccurs="0" name="Ebitda" type="xs:decimal" />
      <xs:element minOccurs="0" name="EuCollectionRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="FeesRevenue" type="xs:decimal" />
      <xs:element minOccurs="0" name="GrossProfit" type="xs:decimal" />
      <xs:element minOccurs="0" name="InterestOnlyPeriod" type="xs:int" />
      <xs:element minOccurs="0" name="InterestRevenue" type="xs:decimal" />
      <xs:element minOccurs="0" name="LoanAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="LoanTerm" type="xs:int" />
      <xs:element minOccurs="0" name="MonthlyInterestRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="NetLossFromDefaults" type="xs:decimal" />
      <xs:element minOccurs="0" name="OpexAndCapex" type="xs:decimal" />
      <xs:element minOccurs="0" name="OpexAndCapexOutput" type="xs:decimal" />
      <xs:element minOccurs="0" name="OriginID" type="xs:int" />
      <xs:element minOccurs="0" name="PricingSourceModels" nillable="true" type="tns:ArrayOfPricingSourceModel" />
      <xs:element minOccurs="0" name="ProfitMarkup" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProfitMarkupOutput" type="xs:decimal" />
      <xs:element minOccurs="0" name="Revenue" type="xs:decimal" />
      <xs:element minOccurs="0" name="SetupFeePercents" type="xs:decimal" />
      <xs:element minOccurs="0" name="TenureMonths" type="xs:decimal" />
      <xs:element minOccurs="0" name="TenurePercents" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalCost" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PricingModelModel" nillable="true" type="tns:PricingModelModel" />
  <xs:complexType name="ArrayOfPricingSourceModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PricingSourceModel" nillable="true" type="tns:PricingSourceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPricingSourceModel" nillable="true" type="tns:ArrayOfPricingSourceModel" />
  <xs:complexType name="PricingSourceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AIR" type="xs:decimal" />
      <xs:element minOccurs="0" name="APR" type="xs:decimal" />
      <xs:element minOccurs="0" name="InterestRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsPreferable" type="xs:boolean" />
      <xs:element minOccurs="0" name="SetupFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PricingSourceModel" nillable="true" type="tns:PricingSourceModel" />
</xs:schema>