App/EzServiceClient/Service References/EzServiceReference/Ezbob.Backend.ModelsWithDB.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Ezbob.Backend.ModelsWithDB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ezbob.Backend.ModelsWithDB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AutomationCalculator.Common" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EZBob.DatabaseLib.Model.Database.Loans" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EZBob.DatabaseLib.Model.Database" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="BrokerInstantOfferRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnnualProfit" type="xs:decimal" />
      <xs:element minOccurs="0" name="AnnualTurnover" type="xs:decimal" />
      <xs:element minOccurs="0" name="BrokerId" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyNameNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExperianCompanyLegalStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExperianCompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExperianCompanyPostcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExperianRefNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsHomeOwner" type="xs:boolean" />
      <xs:element minOccurs="0" name="MainApplicantCreditScore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumOfEmployees" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="BrokerInstantOfferRequest" nillable="true" type="tns:BrokerInstantOfferRequest" />
  <xs:complexType name="BrokerInstantOfferResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApprovedSum" type="xs:int" />
      <xs:element minOccurs="0" name="BrokerInstantOfferRequestId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InterestRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="LoanSourceId" type="xs:int" />
      <xs:element minOccurs="0" name="LoanTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="RepaymentPeriod" type="xs:int" />
      <xs:element minOccurs="0" name="UseBrokerSetupFee" type="xs:boolean" />
      <xs:element minOccurs="0" name="UseSetupFee" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="BrokerInstantOfferResponse" nillable="true" type="tns:BrokerInstantOfferResponse" />
  <xs:complexType name="AStringable">
    <xs:sequence />
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="AStringable" nillable="true" type="tns:AStringable" />
  <xs:complexType name="PricingModelModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrokerSetupFeePercents" type="xs:decimal" />
      <xs:element minOccurs="0" name="Cogs" type="xs:decimal" />
      <xs:element minOccurs="0" name="CogsOutput" type="xs:decimal" />
      <xs:element minOccurs="0" name="CollectionRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="CompanyDefaultRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="CompanyScore" type="xs:int" />
      <xs:element minOccurs="0" name="ConsumerDefaultRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="ConsumerScore" type="xs:int" />
      <xs:element minOccurs="0" name="CosmeCollectionRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="CostOfDebt" type="xs:decimal" />
      <xs:element minOccurs="0" name="CostOfDebtOutput" type="xs:decimal" />
      <xs:element minOccurs="0" name="DebtPercentOfCapital" type="xs:decimal" />
      <xs:element minOccurs="0" name="DefaultRateCompanyShare" type="xs:decimal" />
      <xs:element minOccurs="0" name="Ebitda" type="xs:decimal" />
      <xs:element minOccurs="0" name="EuCollectionRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="FeesRevenue" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AutomationCalculator.Common" minOccurs="0" name="FlowType" type="q1:AutoDecisionFlowTypes" />
      <xs:element minOccurs="0" name="GradeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GradeScore" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="GrossProfit" type="xs:decimal" />
      <xs:element minOccurs="0" name="InterestOnlyPeriod" type="xs:int" />
      <xs:element minOccurs="0" name="InterestRevenue" type="xs:decimal" />
      <xs:element minOccurs="0" name="LoanAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="LoanTerm" type="xs:int" />
      <xs:element minOccurs="0" name="MonthlyInterestRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="NetLossFromDefaults" type="xs:decimal" />
      <xs:element minOccurs="0" name="OpexAndCapex" type="xs:decimal" />
      <xs:element minOccurs="0" name="OpexAndCapexOutput" type="xs:decimal" />
      <xs:element minOccurs="0" name="OriginID" type="xs:int" />
      <xs:element minOccurs="0" name="PricingSourceModels" nillable="true" type="tns:ArrayOfPricingSourceModel" />
      <xs:element minOccurs="0" name="ProbabilityOfDefault" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProfitMarkup" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProfitMarkupOutput" type="xs:decimal" />
      <xs:element minOccurs="0" name="Revenue" type="xs:decimal" />
      <xs:element minOccurs="0" name="SetupFeePercents" type="xs:decimal" />
      <xs:element minOccurs="0" name="TenureMonths" type="xs:decimal" />
      <xs:element minOccurs="0" name="TenurePercents" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalCost" type="xs:decimal" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="PricingModelModel" nillable="true" type="tns:PricingModelModel" />
  <xs:complexType name="ArrayOfPricingSourceModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PricingSourceModel" nillable="true" type="tns:PricingSourceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPricingSourceModel" nillable="true" type="tns:ArrayOfPricingSourceModel" />
  <xs:complexType name="PricingSourceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AIR" type="xs:decimal" />
      <xs:element minOccurs="0" name="APR" type="xs:decimal" />
      <xs:element minOccurs="0" name="InterestRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsPreferable" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EZBob.DatabaseLib.Model.Database.Loans" minOccurs="0" name="LoanSource" type="q2:LoanSourceName" />
      <xs:element minOccurs="0" name="SetupFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PricingSourceModel" nillable="true" type="tns:PricingSourceModel" />
  <xs:complexType name="SignupCustomerMultiOriginModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ABTesting" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlibabaID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrokerFillsForCustomer" type="xs:boolean" />
      <xs:element minOccurs="0" name="BrokerLeadEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrokerLeadFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrokerLeadID" type="xs:int" />
      <xs:element minOccurs="0" name="CampaignSourceRef" nillable="true" type="tns:CampaignSourceRef" />
      <xs:element minOccurs="0" name="CaptchaMode" type="xs:boolean" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstVisitTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoogleCookie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsTest" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobilePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileVerificationCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EZBob.DatabaseLib.Model.Database" minOccurs="0" name="Origin" nillable="true" type="q3:CustomerOriginEnum" />
      <xs:element minOccurs="0" name="PasswordAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordQuestion" nillable="true" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="RawPassword" nillable="true" type="q4:DasKennwort" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="RawPasswordAgain" nillable="true" type="q5:DasKennwort" />
      <xs:element minOccurs="0" name="ReferenceSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemoteIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestedLoanAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestedLoanTerm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VisitTimes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WhiteLabelID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SignupCustomerMultiOriginModel" nillable="true" type="tns:SignupCustomerMultiOriginModel" />
  <xs:complexType name="CampaignSourceRef">
    <xs:sequence>
      <xs:element minOccurs="0" name="FContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FMedium" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FTerm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RMedium" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RTerm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CampaignSourceRef" nillable="true" type="tns:CampaignSourceRef" />
  <xs:complexType name="WriteToLogPackage.InputData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyRefNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DirectorID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Request" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Response" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EZBob.DatabaseLib.Model.Database" minOccurs="0" name="ServiceType" type="q6:ExperianServiceType" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WriteToLogPackage.InputData" nillable="true" type="tns:WriteToLogPackage.InputData" />
  <xs:complexType name="MultiBrandLoanSummary">
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Loans" nillable="true" type="q7:ArrayOfstring" />
      <xs:element minOccurs="0" name="OriginCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MultiBrandLoanSummary" nillable="true" type="tns:MultiBrandLoanSummary" />
  <xs:complexType name="ArrayOfDecisionHistoryDBModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DecisionHistoryDBModel" nillable="true" type="tns:DecisionHistoryDBModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDecisionHistoryDBModel" nillable="true" type="tns:ArrayOfDecisionHistoryDBModel" />
  <xs:complexType name="DecisionHistoryDBModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApprovedRepaymentPeriod" type="xs:int" />
      <xs:element minOccurs="0" name="ApprovedSum" type="xs:int" />
      <xs:element minOccurs="0" name="BrokerSetupFeePercent" type="xs:decimal" />
      <xs:element minOccurs="0" name="CashRequestID" type="xs:long" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DecisionHistoryID" type="xs:int" />
      <xs:element minOccurs="0" name="DiscountPlan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FundingType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InterestRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsLoanTypeSelectionAllowed" type="xs:int" />
      <xs:element minOccurs="0" name="LoanSourceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManualSetupFeePercent" type="xs:decimal" />
      <xs:element minOccurs="0" name="OfferStart" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OfferValidUntil" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Originator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RepaymentPeriod" type="xs:int" />
      <xs:element minOccurs="0" name="UnderwriterDecision" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnderwriterName" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DecisionHistoryDBModel" nillable="true" type="tns:DecisionHistoryDBModel" />
  <xs:complexType name="CollectionSnailMailMetadataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CollectionSnailMailMetadataID" type="xs:int" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CollectionSnailMailMetadataModel" nillable="true" type="tns:CollectionSnailMailMetadataModel" />
</xs:schema>