App/EzServiceClient/Service References/EzServiceReference/Ezbob.Integration.LogicalGlue.Engine.Interface.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ezbob.Integration.LogicalGlue.Engine.Interface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ezbob.Integration.LogicalGlue.Engine.Interface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Bucket">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EnumMemberOfint">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Bucket" nillable="true" type="tns:Bucket" />
  <xs:complexType name="EnumMemberOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EnumMemberOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Ezbob.Integration.LogicalGlue.Engine.Interface" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CommunicationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnumMemberOfint" nillable="true" type="tns:EnumMemberOfint" />
</xs:schema>