App/EzServiceClient/Service References/EzServiceReference/Ezbob.Backend.Models.NewLoan.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models.NewLoan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models.NewLoan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DbConstants" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ReschedulingArgument">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AStringable">
        <xs:sequence>
          <xs:element minOccurs="0" name="LoanID" type="xs:long" />
          <xs:element minOccurs="0" name="LoanType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PaymentPerInterval" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="RescheduleIn" type="xs:boolean" />
          <xs:element minOccurs="0" name="ReschedulingDate" type="xs:dateTime" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DbConstants" minOccurs="0" name="ReschedulingRepaymentIntervalType" type="q1:RepaymentIntervalTypes" />
          <xs:element minOccurs="0" name="SaveToDB" type="xs:boolean" />
      <xs:element minOccurs="0" name="StopFutureInterest" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReschedulingArgument" nillable="true" type="tns:ReschedulingArgument" />
  <xs:complexType name="AStringable">
    <xs:sequence />
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="AStringable" nillable="true" type="tns:AStringable" />
  <xs:complexType name="ReschedulingResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AStringable">
        <xs:sequence>
      <xs:element minOccurs="0" name="BlockAction" type="xs:boolean" />
          <xs:element minOccurs="0" name="DefaultPaymentPerInterval" type="xs:decimal" />
          <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstPaymentInterest" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="IntervalsNum" type="xs:int" />
          <xs:element minOccurs="0" name="LoanCloseDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LoanID" type="xs:long" />
          <xs:element minOccurs="0" name="LoanInterestRate" type="xs:decimal" />
          <xs:element minOccurs="0" name="ReschedulingBalance" type="xs:decimal" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DbConstants" minOccurs="0" name="ReschedulingRepaymentIntervalType" type="q2:RepaymentIntervalTypes" />
      <xs:element minOccurs="0" name="ReschedulingIntervalStart" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReschedulingResult" nillable="true" type="tns:ReschedulingResult" />
</xs:schema>