App/EzServiceClient/Service References/EzServiceReference/EzService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/EzService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EzService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models.NewLoan" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Ezbob.Backend.ModelsWithDB" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Ezbob.Utils" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models.ExternalAPI" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Ezbob.Backend.ModelsWithDB.Experian" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EzBob.Backend.Models" />
  <xs:complexType name="ActionMetaData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionID" type="ser:guid" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsSynchronous" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:ActionStatus" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ActionMetaData" nillable="true" type="tns:ActionMetaData" />
  <xs:simpleType name="ActionStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InProgress">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Done">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Finished">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Failed">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Terminated">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Unknown">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Launched">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ActionStatus" nillable="true" type="tns:ActionStatus" />
  <xs:complexType name="StringListActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Records" nillable="true" type="q1:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StringListActionResult" nillable="true" type="tns:StringListActionResult" />
  <xs:complexType name="ActionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="MetaData" nillable="true" type="tns:ActionMetaData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActionResult" nillable="true" type="tns:ActionResult" />
  <xs:complexType name="StringActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StringActionResult" nillable="true" type="tns:StringActionResult" />
  <xs:complexType name="BrokerCustomerFileContentsActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Contents" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BrokerCustomerFileContentsActionResult" nillable="true" type="tns:BrokerCustomerFileContentsActionResult" />
  <xs:complexType name="BrokerLeadDetailsActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LeadEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LeadID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BrokerLeadDetailsActionResult" nillable="true" type="tns:BrokerLeadDetailsActionResult" />
  <xs:complexType name="BrokerCustomerDetailsActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="Data" nillable="true" type="q2:BrokerCustomerDetails" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="PotentialSigners" nillable="true" type="q3:ArrayOfEsigner" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BrokerCustomerDetailsActionResult" nillable="true" type="tns:BrokerCustomerDetailsActionResult" />
  <xs:complexType name="BrokerLeadDetailsDataActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="BrokerLeadDataModel" nillable="true" type="q4:BrokerLeadDataModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BrokerLeadDetailsDataActionResult" nillable="true" type="tns:BrokerLeadDetailsDataActionResult" />
  <xs:complexType name="BrokerCustomerFilesActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="Files" nillable="true" type="q5:ArrayOfBrokerCustomerFile" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BrokerCustomerFilesActionResult" nillable="true" type="tns:BrokerCustomerFilesActionResult" />
  <xs:complexType name="BrokerCustomersActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="Customers" nillable="true" type="q6:ArrayOfBrokerCustomerEntry" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BrokerCustomersActionResult" nillable="true" type="tns:BrokerCustomersActionResult" />
  <xs:complexType name="BrokerPropertiesActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="Properties" nillable="true" type="q7:BrokerProperties" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BrokerPropertiesActionResult" nillable="true" type="tns:BrokerPropertiesActionResult" />
  <xs:complexType name="BrokerStaticDataActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="Crm" nillable="true" type="q8:CrmStaticModel" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="Files" nillable="true" type="q9:ArrayOfFileDescription" />
          <xs:element minOccurs="0" name="MaxPerNumber" type="xs:int" />
          <xs:element minOccurs="0" name="MaxPerPage" type="xs:int" />
          <xs:element minOccurs="0" name="Terms" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TermsID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BrokerStaticDataActionResult" nillable="true" type="tns:BrokerStaticDataActionResult" />
  <xs:complexType name="BoolActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BoolActionResult" nillable="true" type="tns:BoolActionResult" />
  <xs:complexType name="IntActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IntActionResult" nillable="true" type="tns:IntActionResult" />
  <xs:complexType name="NLLongActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Value" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NLLongActionResult" nillable="true" type="tns:NLLongActionResult" />
  <xs:complexType name="ReschedulingActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models.NewLoan" minOccurs="0" name="Value" nillable="true" type="q10:ReschedulingResult" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReschedulingActionResult" nillable="true" type="tns:ReschedulingActionResult" />
  <xs:complexType name="PricingModelModelActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Ezbob.Backend.ModelsWithDB" minOccurs="0" name="Value" nillable="true" type="q11:PricingModelModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PricingModelModelActionResult" nillable="true" type="tns:PricingModelModelActionResult" />
  <xs:complexType name="VatReturnDataActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="BankStatement" nillable="true" type="q12:BankStatementDataModel" />
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="BankStatementAnnualized" nillable="true" type="q13:BankStatementDataModel" />
          <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="RtiTaxMonthRawData" nillable="true" type="q14:ArrayOfRtiTaxMonthRawData" />
          <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="Summary" nillable="true" type="q15:ArrayOfVatReturnSummary" />
          <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="VatReturnRawData" nillable="true" type="q16:ArrayOfVatReturnRawData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VatReturnDataActionResult" nillable="true" type="tns:VatReturnDataActionResult" />
  <xs:complexType name="ElapsedTimeInfoActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Ezbob.Utils" minOccurs="0" name="Value" nillable="true" type="q17:ElapsedTimeInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ElapsedTimeInfoActionResult" nillable="true" type="tns:ElapsedTimeInfoActionResult" />
  <xs:complexType name="UserLoginActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RefNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SessionID" type="xs:int" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserLoginActionResult" nillable="true" type="tns:UserLoginActionResult" />
  <xs:complexType name="CustomerDetailsActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="Value" nillable="true" type="q18:CustomerDetails" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerDetailsActionResult" nillable="true" type="tns:CustomerDetailsActionResult" />
  <xs:complexType name="SetPasswordActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsBroker" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDisabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="SessionID" type="xs:int" />
          <xs:element minOccurs="0" name="UserID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetPasswordActionResult" nillable="true" type="tns:SetPasswordActionResult" />
  <xs:complexType name="EmailConfirmationTokenActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Token" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmailConfirmationTokenActionResult" nillable="true" type="tns:EmailConfirmationTokenActionResult" />
  <xs:complexType name="QuickOfferActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="HasValue" type="xs:boolean" />
          <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="Value" nillable="true" type="q19:QuickOfferModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuickOfferActionResult" nillable="true" type="tns:QuickOfferActionResult" />
  <xs:complexType name="CustomerManualAnnualizedRevenueActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="Value" nillable="true" type="q20:CustomerManualAnnualizedRevenue" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerManualAnnualizedRevenueActionResult" nillable="true" type="tns:CustomerManualAnnualizedRevenueActionResult" />
  <xs:complexType name="LotteryActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="Value" nillable="true" type="q21:LotteryResult" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LotteryActionResult" nillable="true" type="tns:LotteryActionResult" />
  <xs:complexType name="AlibabaAvailableCreditActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models.ExternalAPI" minOccurs="0" name="Result" nillable="true" type="q22:AlibabaAvailableCreditResult" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlibabaAvailableCreditActionResult" nillable="true" type="tns:AlibabaAvailableCreditActionResult" />
  <xs:complexType name="AlibabaSaleContractActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models.ExternalAPI" minOccurs="0" name="Result" nillable="true" type="q23:AlibabaSaleContractResult" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlibabaSaleContractActionResult" nillable="true" type="tns:AlibabaSaleContractActionResult" />
  <xs:complexType name="ExperianTargetingActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="CompanyInfos" nillable="true" type="q24:ArrayOfCompanyInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExperianTargetingActionResult" nillable="true" type="tns:ExperianTargetingActionResult" />
  <xs:complexType name="LoanCommissionDefaultsActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="BrokerCommission" type="xs:decimal" />
          <xs:element minOccurs="0" name="ManualSetupFee" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoanCommissionDefaultsActionResult" nillable="true" type="tns:LoanCommissionDefaultsActionResult" />
  <xs:complexType name="StringStringMapActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Map" nillable="true" type="q25:ArrayOfKeyValueOfstringstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StringStringMapActionResult" nillable="true" type="tns:StringStringMapActionResult" />
  <xs:complexType name="MultiBrandLoanSummaryActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Ezbob.Backend.ModelsWithDB" minOccurs="0" name="Summary" nillable="true" type="q26:MultiBrandLoanSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MultiBrandLoanSummaryActionResult" nillable="true" type="tns:MultiBrandLoanSummaryActionResult" />
  <xs:complexType name="MessagesListActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="Messages" nillable="true" type="q27:ArrayOfMessagesModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MessagesListActionResult" nillable="true" type="tns:MessagesListActionResult" />
  <xs:complexType name="MarketplacesActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="MpModel" nillable="true" type="q28:MpModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MarketplacesActionResult" nillable="true" type="tns:MarketplacesActionResult" />
  <xs:complexType name="ExperianLtdActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="History" nillable="true" type="q29:ArrayOfScoreAtDate" />
          <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Ezbob.Backend.ModelsWithDB.Experian" minOccurs="0" name="Value" nillable="true" type="q30:ExperianLtd" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExperianLtdActionResult" nillable="true" type="tns:ExperianLtdActionResult" />
  <xs:complexType name="CrmLookupsActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="Actions" nillable="true" type="q31:ArrayOfIdNameModel" />
          <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="Ranks" nillable="true" type="q32:ArrayOfIdNameModel" />
          <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="Statuses" nillable="true" type="q33:ArrayOfCrmStatusGroup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CrmLookupsActionResult" nillable="true" type="tns:CrmLookupsActionResult" />
  <xs:complexType name="AccountsToUpdateActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="AccountInfo" nillable="true" type="q34:AccountsToUpdate" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountsToUpdateActionResult" nillable="true" type="tns:AccountsToUpdateActionResult" />
  <xs:complexType name="AvailableFundsActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="AvailableFunds" type="xs:decimal" />
          <xs:element minOccurs="0" name="ReservedAmount" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AvailableFundsActionResult" nillable="true" type="tns:AvailableFundsActionResult" />
  <xs:complexType name="CompanyCaisDataActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="Accounts" nillable="true" type="q35:ArrayOfCompanyCaisAccount" />
          <xs:element minOccurs="0" name="NumOfCurrentDefaultAccounts" type="xs:int" />
          <xs:element minOccurs="0" name="NumOfSettledDefaultAccounts" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompanyCaisDataActionResult" nillable="true" type="tns:CompanyCaisDataActionResult" />
  <xs:complexType name="CompanyDataForCompanyScoreActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="Data" nillable="true" type="q36:CompanyData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompanyDataForCompanyScoreActionResult" nillable="true" type="tns:CompanyDataForCompanyScoreActionResult" />
  <xs:complexType name="CompanyDataForCreditBureauActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="Result" nillable="true" type="q37:CompanyDataForCreditBureau" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompanyDataForCreditBureauActionResult" nillable="true" type="tns:CompanyDataForCreditBureauActionResult" />
  <xs:complexType name="NullableDateTimeActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NullableDateTimeActionResult" nillable="true" type="tns:NullableDateTimeActionResult" />
  <xs:complexType name="ConfigTableActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/EzBob.Backend.Models" minOccurs="0" name="Table" nillable="true" type="q38:ArrayOfConfigTable" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConfigTableActionResult" nillable="true" type="tns:ConfigTableActionResult" />
  <xs:complexType name="DecimalActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="HasValue" type="xs:boolean" />
          <xs:element minOccurs="0" name="Value" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DecimalActionResult" nillable="true" type="tns:DecimalActionResult" />
  <xs:complexType name="DateTimeActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DateTimeActionResult" nillable="true" type="tns:DateTimeActionResult" />
  <xs:complexType name="PropertyStatusesActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="Groups" nillable="true" type="q39:ArrayOfPropertyStatusGroupModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PropertyStatusesActionResult" nillable="true" type="tns:PropertyStatusesActionResult" />
  <xs:complexType name="WizardConfigsActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsSmsValidationActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="NumberOfMobileCodeAttempts" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WizardConfigsActionResult" nillable="true" type="tns:WizardConfigsActionResult" />
  <xs:complexType name="EsignatureFileActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Contents" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MimeType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EsignatureFileActionResult" nillable="true" type="tns:EsignatureFileActionResult" />
  <xs:complexType name="EsignatureListActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="Data" nillable="true" type="q40:ArrayOfEsignature" />
          <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="PotentialSigners" nillable="true" type="q41:ArrayOfEsigner" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EsignatureListActionResult" nillable="true" type="tns:EsignatureListActionResult" />
  <xs:complexType name="ExperianConsumerActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Ezbob.Backend.ModelsWithDB.Experian" minOccurs="0" name="Value" nillable="true" type="q42:ExperianConsumerData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExperianConsumerActionResult" nillable="true" type="tns:ExperianConsumerActionResult" />
  <xs:complexType name="ExperianConsumerMortgageActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Ezbob.Backend.ModelsWithDB.Experian" minOccurs="0" name="Value" nillable="true" type="q43:ExperianConsumerMortgagesData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExperianConsumerMortgageActionResult" nillable="true" type="tns:ExperianConsumerMortgageActionResult" />
  <xs:complexType name="VatReturnPeriodsActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" minOccurs="0" name="Periods" nillable="true" type="q44:ArrayOfVatReturnPeriod" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VatReturnPeriodsActionResult" nillable="true" type="tns:VatReturnPeriodsActionResult" />
</xs:schema>