App/EzServiceClient/Service References/EzServiceReference/EzService.ActionResults.Investor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EzService.ActionResults.Investor" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EzService.ActionResults.Investor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models.Investor" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EzService" />
  <xs:complexType name="InvestorActionResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/EzService" base="q1:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models.Investor" minOccurs="0" name="Investor" nillable="true" type="q2:InvestorModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvestorActionResult" nillable="true" type="tns:InvestorActionResult" />
  <xs:complexType name="AccountingDataResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/EzService" base="q3:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models.Investor" minOccurs="0" name="AccountingData" nillable="true" type="q4:ArrayOfAccountingDataModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountingDataResult" nillable="true" type="tns:AccountingDataResult" />
</xs:schema>