App/PluginWeb/EzBob.Web/Service References/EzServiceReference/EzBob.Web.Areas.Underwriter.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EzBob.Web.Areas.Underwriter.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EzBob.Web.Areas.Underwriter.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBasicInterestRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BasicInterestRate" nillable="true" type="tns:BasicInterestRate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBasicInterestRate" nillable="true" type="tns:ArrayOfBasicInterestRate" />
  <xs:complexType name="BasicInterestRate">
    <xs:sequence>
      <xs:element minOccurs="0" name="FromScore" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LoanInterestBase" type="xs:decimal" />
      <xs:element minOccurs="0" name="ToScore" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasicInterestRate" nillable="true" type="tns:BasicInterestRate" />
</xs:schema>