App/PluginWeb/EzBob.Web/Service References/EzServiceReference/Ezbob.Backend.Models1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EzBob.Backend.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EzBob.Backend.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="QuickOfferModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aml" type="xs:int" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BusinessScore" type="xs:int" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ImmediateInterestRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImmediateSetupFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImmediateTerm" type="xs:int" />
      <xs:element minOccurs="0" name="IncorporationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PotentialAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="PotentialInterestRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="PotentialSetupFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="PotentialTerm" type="xs:int" />
      <xs:element minOccurs="0" name="TangibleEquity" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalCurrentAssets" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuickOfferModel" nillable="true" type="tns:QuickOfferModel" />
</xs:schema>