App/PluginWeb/EzBob.Web/Service References/EzServiceReference/EzBob.Web.Areas.Customer.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EzBob.Web.Areas.Customer.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EzBob.Web.Areas.Customer.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLoanScheduleItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoanScheduleItemModel" nillable="true" type="tns:LoanScheduleItemModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoanScheduleItemModel" nillable="true" type="tns:ArrayOfLoanScheduleItemModel" />
  <xs:complexType name="LoanScheduleItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountDue" type="xs:decimal" />
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="BalanceBeforeRepayment" type="xs:decimal" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fees" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Interest" type="xs:decimal" />
      <xs:element minOccurs="0" name="InterestPaid" type="xs:decimal" />
      <xs:element minOccurs="0" name="InterestRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="LateCharges" type="xs:decimal" />
      <xs:element minOccurs="0" name="LoanRepayment" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrevInstallmentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RepaymentAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanScheduleItemModel" nillable="true" type="tns:LoanScheduleItemModel" />
</xs:schema>