App/PluginWeb/EzBob.Web/Service References/EzServiceReference/Ezbob.Backend.Models1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBrokerCustomerEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BrokerCustomerEntry" nillable="true" type="tns:BrokerCustomerEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBrokerCustomerEntry" nillable="true" type="tns:ArrayOfBrokerCustomerEntry" />
  <xs:complexType name="BrokerCustomerEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplyDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="LoanDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Marketplaces" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WizardStep" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrokerCustomerEntry" nillable="true" type="tns:BrokerCustomerEntry" />
  <xs:complexType name="BrokerCustomerDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="CrmData" nillable="true" type="tns:ArrayOfBrokerCustomerCrmEntry" />
      <xs:element minOccurs="0" name="PersonalData" nillable="true" type="tns:BrokerCustomerPersonalData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrokerCustomerDetails" nillable="true" type="tns:BrokerCustomerDetails" />
  <xs:complexType name="ArrayOfBrokerCustomerCrmEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BrokerCustomerCrmEntry" nillable="true" type="tns:BrokerCustomerCrmEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBrokerCustomerCrmEntry" nillable="true" type="tns:ArrayOfBrokerCustomerCrmEntry" />
  <xs:complexType name="BrokerCustomerCrmEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CrDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrokerCustomerCrmEntry" nillable="true" type="tns:BrokerCustomerCrmEntry" />
  <xs:complexType name="BrokerCustomerPersonalData">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="daytimephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="maritalstatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobilephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrokerCustomerPersonalData" nillable="true" type="tns:BrokerCustomerPersonalData" />
  <xs:complexType name="ArrayOfBrokerCustomerFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BrokerCustomerFile" nillable="true" type="tns:BrokerCustomerFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBrokerCustomerFile" nillable="true" type="tns:ArrayOfBrokerCustomerFile" />
  <xs:complexType name="BrokerCustomerFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileID" type="xs:int" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UploadDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrokerCustomerFile" nillable="true" type="tns:BrokerCustomerFile" />
</xs:schema>