Integration/LandRegistryLib/Service References/LRRESServiceTestNS/OfficialCopyWithSummaryV2_1WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ocwithsummaryv2_1.ws.bg.lr.gov/" name="OfficialCopyWithSummaryV2_1WebService" targetNamespace="http://ocwithsummaryv2_1.ws.bg.lr.gov/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:ns3="http://ocwithsummaryv2_1.ws.bg.lr.gov/" xmlns:ns1="http://www.oscre.org/ns/eReg-Final/2011/RequestOCWithSummaryV2_0" xmlns:ns2="http://www.oscre.org/ns/eReg-Final/2011/ResponseOCWithSummaryV2_1" targetNamespace="http://ocwithsummaryv2_1.ws.bg.lr.gov/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import schemaLocation="RequestOCWithSummaryV2_0.xsd" namespace="http://www.oscre.org/ns/eReg-Final/2011/RequestOCWithSummaryV2_0" />
      <xs:import schemaLocation="ResponseOCWithSummaryV2_1.xsd" namespace="http://www.oscre.org/ns/eReg-Final/2011/ResponseOCWithSummaryV2_1" />
      <xs:element name="SOAPEngineSystemException" nillable="true" type="xs:string" />
      <xs:element name="performOCWithSummary" type="ns3:performOCWithSummary" />
      <xs:element name="performOCWithSummaryResponse" type="ns3:performOCWithSummaryResponse" />
      <xs:complexType name="performOCWithSummary">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="ns1:RequestOCWithSummaryV2_0Type" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="performOCWithSummaryResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="ns2:ResponseOCWithSummaryV2_1Type" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="oCWithSummaryResponse">
    <part name="parameters" element="tns:performOCWithSummaryResponse" />
  </message>
  <message name="SOAPEngineSystemException">
    <part name="fault" element="tns:SOAPEngineSystemException" />
  </message>
  <message name="oCWithSummaryRequest">
    <part name="parameters" element="tns:performOCWithSummary" />
  </message>
  <portType name="OCWithSummaryV2_1Service">
    <operation name="performOCWithSummary">
      <input message="tns:oCWithSummaryRequest" />
      <output message="tns:oCWithSummaryResponse" />
      <fault name="SOAPEngineSystemException" message="tns:SOAPEngineSystemException" />
    </operation>
  </portType>
  <binding name="OCWithSummaryV2_1WSImplPortBinding" type="tns:OCWithSummaryV2_1Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="performOCWithSummary">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPEngineSystemException">
        <soap:fault use="literal" name="SOAPEngineSystemException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="OfficialCopyWithSummaryV2_1WebService">
    <port name="OCWithSummaryV2_1WSImplPort" binding="tns:OCWithSummaryV2_1WSImplPortBinding">
      <soap:address location="https://z0.b2b.http.server.landregistry.gov:13007/BGStubService/OfficialCopyWithSummaryV2_1WebService" />
    </port>
  </service>
</definitions>