Integration/CreditSafeLib/Service References/CreditSafeServiceReference/CreditsafeServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="https://www.creditsafeuk.com/getdatuk/service/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="https://www.creditsafeuk.com/getdatuk/service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.creditsafeuk.com/getdatuk/service/">
      <s:element name="GetData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXmlStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataHttpGetIn">
    <wsdl:part name="requestXmlStr" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDataHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDataHttpPostIn">
    <wsdl:part name="requestXmlStr" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDataHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="CreditsafeServicesSoap">
    <wsdl:operation name="GetData">
      <wsdl:input message="tns:GetDataSoapIn" />
      <wsdl:output message="tns:GetDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CreditsafeServicesHttpGet">
    <wsdl:operation name="GetData">
      <wsdl:input message="tns:GetDataHttpGetIn" />
      <wsdl:output message="tns:GetDataHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CreditsafeServicesHttpPost">
    <wsdl:operation name="GetData">
      <wsdl:input message="tns:GetDataHttpPostIn" />
      <wsdl:output message="tns:GetDataHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreditsafeServicesSoap" type="tns:CreditsafeServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="https://www.creditsafeuk.com/getdatuk/service/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CreditsafeServicesHttpGet" type="tns:CreditsafeServicesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetData">
      <http:operation location="/GetData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CreditsafeServicesHttpPost" type="tns:CreditsafeServicesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetData">
      <http:operation location="/GetData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreditsafeServices">
    <wsdl:port name="CreditsafeServicesSoap" binding="tns:CreditsafeServicesSoap">
      <soap:address location="https://www.creditsafeuk.com/getdatauk/service/CreditsafeServices.asmx" />
    </wsdl:port>
    <wsdl:port name="CreditsafeServicesHttpGet" binding="tns:CreditsafeServicesHttpGet">
      <http:address location="https://www.creditsafeuk.com/getdatauk/service/CreditsafeServices.asmx" />
    </wsdl:port>
    <wsdl:port name="CreditsafeServicesHttpPost" binding="tns:CreditsafeServicesHttpPost">
      <http:address location="https://www.creditsafeuk.com/getdatauk/service/CreditsafeServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>