Integration/LandRegistryLib/Service References/LRRESPollServiceTestNS/ResponseOCWithSummaryV2_0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.oscre.org/ns/eReg-Final/2011/ResponseOCWithSummaryV2_0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.oscre.org/ns/eReg-Final/2011/ResponseOCWithSummaryV2_0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>This is the the Business Gateway confirmation response to the External System.</xs:documentation>
  </xs:annotation>
  <xs:element name="ResponseOCWithSummaryV2_0" type="ResponseOCWithSummaryV2_0Type" />
  <xs:complexType name="AddressLineType">
    <xs:annotation>
      <xs:documentation>
				Free form line of an address, expressed as text.

				The recommendation for using this component is as follows:
				Line 1
				Building Name
				NOTE: This line may also include the Flat Number
				followed by the Building
				Name or could be separated out
				Line 2
				Building Number
				Line 3 Street Name
				Line 4 City Sub-Division-1
				Line 5
				City Name
				Line 6 Country Subentity
				Line 7 Postcode_Zone
				NOTE: ONLY the
				Post Code should exist in this array element
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IndexNumeric" type="NumericType">
        <xs:annotation>
          <xs:documentation>The ordinal position of the Address Line, in
						relation to other Address Lines as part of an Address.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Line" type="TextType">
        <xs:annotation>
          <xs:documentation>An address line of unstructured text intended
						for use only by systems incapable of providing structured or fully
						structured addresses</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseOCWithSummaryV2_0Type">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="GatewayResponse" type="Q1GatewayResponseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1AcknowledgementType">
    <xs:annotation>
      <xs:documentation>This is the the Business Gateway confirmation
				response to the External System.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="AcknowledgementDetails" type="Q1AcknowledgementDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1ActualPriceType">
    <xs:annotation>
      <xs:documentation>Information about price
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="GrossPriceAmount" type="AmountType">
        <xs:annotation>
          <xs:documentation>The gross price is the price including the
						VAT. If the VAT is zero then the Gross and Net Price will be the
						same</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="NetPriceAmount" type="AmountType">
        <xs:annotation>
          <xs:documentation>The Net Price is the amount before the VAT is
						added on. If the VAT is zero then the Gross and Net Price will be
						the same</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="VATAmount" type="AmountType">
        <xs:annotation>
          <xs:documentation>This is the amount of the VAT
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1AddressType">
    <xs:annotation>
      <xs:documentation>A specific Address that can be used for the
				delivery of physical mail.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PostcodeZone" type="Q1PostcodeZoneType">
        <xs:annotation>
          <xs:documentation>The identifier for one or more properties
						according to the UK postal service; a group of letters and numbers
						added to the postal address to assist in the sorting of mail, as
						defined by the Royal Mail.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="AddressLine" type="AddressLineType">
        <xs:annotation>
          <xs:documentation>
						Free form line of an address, expressed as text.

						The recommendation for using this component is as follows:
						Line 1
						Building Name
						NOTE: This line may also include the Flat Number
						followed by the
						Building Name or could be separated out
						Line 2
						Building Number
						Line 3 Street Name
						Line 4 City Sub-Division-1
						Line 5
						City Name
						Line 6 Country Subentity
						Line 7 Postcode_Zone
						NOTE: ONLY
						the Post Code should exist in this array element
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1AttachmentType">
    <xs:annotation>
      <xs:documentation>An electronic copy of a document that may be
				attached to a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="EmbeddedFileBinaryObject" type="BinaryObjectType">
        <xs:annotation>
          <xs:documentation>The binary representation of the image or
						document</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Title" type="TextType">
        <xs:annotation>
          <xs:documentation>Title or Caption for the attached file or
						document</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="TextType">
        <xs:annotation>
          <xs:documentation>A description of the contents of the attached
						file or document</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Date" type="DateType">
        <xs:annotation>
          <xs:documentation>The date of the document within the contained
						attachment.
						In the example of a an attached photo, this would be
						the date the
						photograph was taken.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CopyrightNotices" type="TextType">
        <xs:annotation>
          <xs:documentation>Text description of any Legal or copyright
						notices that
						may apply to the file in question.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1ChargeType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Date" type="DateType">
        <xs:annotation>
          <xs:documentation>
						A particular point in the progression of time
						together with the
						relevant supplementary information. OSCRE dates
						follow the ISO
						8601 Standard. The international standard date
						notation is
						YYYY-MM-DD where YYYY is the year in the usual
						Gregorian calendar,
						MM is the month of the year between 01
						(January) and 12
						(December), and DD is the day of the month between
						01 and 31.

						For example, the fourth day of February in the year 1995
						is written
						in the standard notation as 1995-02-04
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="RestrictionIndicator" type="IndicatorType">
        <xs:annotation>
          <xs:documentation>A list of two mutually exclusive Boolean values
						that express the only possible states of a Property.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="ChargeeParty" type="Q1ChargeePartyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1ExternalReferenceType">
    <xs:annotation>
      <xs:documentation>A unique reference given to identify a particular
				request, order or instruction in the system of the organisation
				allocating it with the ability to associate the name of the Company
				that has allocated it.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Reference" type="TextType">
        <xs:annotation>
          <xs:documentation>A unique reference given to identify a
						particular request, order or instruction in the system of the
						organisation allocating it.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AllocatedBy" type="TextType">
        <xs:annotation>
          <xs:documentation>The name of the organisation that has
						allocated the Reference</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="TextType">
        <xs:annotation>
          <xs:documentation>This field can be used to provide reference
						description</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1GatewayResponseType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="TypeCode" type="ProductResponseCodeType">
        <xs:annotation>
          <xs:documentation>Used to identify the response that will be issued to the CMS Vendor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Acknowledgement" type="Q1AcknowledgementType">
        <xs:annotation>
          <xs:documentation>This is the the Business Gateway confirmationresponse to the External System.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Rejection" type="Q1RejectionType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Results" type="Q1ResultsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1LeaseType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DateOfLeaseDate" type="DateType">
        <xs:annotation>
          <xs:documentation>
A particular point in the progression of time together with the relevant supplementary information. OSCRE dates follow the ISO 8601 Standard. The international standard date notation is  YYYY-MM-DD where YYYY is the year in the usual Gregorian calendar, MM is the month of the year between 01 (January) and 12 (December), and DD is the day of the month between 01 and 31.

For example, the fourth day of February in the year 1995 is written in the standard notation as 1995-02-04
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="LeaseTerm" type="LeaseTermTextType">
        <xs:annotation>
          <xs:documentation>A character string (i.e. a finite set of characters) generally in the form of words of a language.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Rent" type="RentAmountTextType">
        <xs:annotation>
          <xs:documentation>A character string (i.e. a finite set of characters) generally in the form of words of a language.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="2" maxOccurs="unbounded" name="LeaseParty" type="Q1LeasePartyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1MessageDetailsType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Description" type="TextType">
        <xs:annotation>
          <xs:documentation>A character string (i.e. a finite set of characters) generally in the form of words of a language.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1OCSummaryDataType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="OfficialCopyDateTime" type="DateTimeType">
        <xs:annotation>
          <xs:documentation>A particular point in the progression of time together with the relevant supplementary information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="EditionDate" type="DateType">
        <xs:annotation>
          <xs:documentation>
A particular point in the progression of time together with the relevant supplementary information. OSCRE dates follow the ISO 8601 Standard. The international standard date notation is  YYYY-MM-DD where YYYY is the year in the usual Gregorian calendar, MM is the month of the year between 01 (January) and 12 (December), and DD is the day of the month between 01 and 31.

For example, the fourth day of February in the year 1995 is written in the standard notation as 1995-02-04
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PricePaidEntry" type="TextType">
        <xs:annotation>
          <xs:documentation>Price paid entry</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="PropertyAddress" type="Q1AddressType">
        <xs:annotation>
          <xs:documentation>A specific Address that can be used for the delivery of physical mail.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Title" type="Q1TitleType">
        <xs:annotation>
          <xs:documentation>Describes a title to an interest or tenure interest which is registered at H.M. Land Registry in England and Wales.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="RegisterEntryIndicators" type="Q1RegisterEntryIndicatorsType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Proprietorship" type="Q1ProprietorshipType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lease" type="Q1LeaseType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Restriction" type="Q1RestrictionType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Charge" type="Q1ChargeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1OrganizationType">
    <xs:annotation>
      <xs:documentation>The information relevant to an organized structure set up for a particular purpose, e.g. a business, government body, department, charity, or financial institution.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="OrganisationNameTextType">
        <xs:annotation>
          <xs:documentation>To specify any name related to this organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CompanyRegistrationNumber" type="CompanyRegistrationNumberTextType">
        <xs:annotation>
          <xs:documentation>A unique reference number allocated by the Registrar of Companies to a limited liability company or unlimited company at the time of first registration of that company.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1AcknowledgementDetailsType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="UniqueID" type="IdentifierType">
        <xs:annotation>
          <xs:documentation>Unique identifier used by end user to get the status update of their request.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="ExpectedResponseDateTime" type="DateTimeType">
        <xs:annotation>
          <xs:documentation>This element will hold expected time when Business Gateway will try to process the queued request. This element will contain date and time data as GMT format. This element should be marked as mandatory</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="MessageDescription" type="TextType">
        <xs:annotation>
          <xs:documentation>This will be a String type element and will be use to display a message to end user. This element should be marked as mandatory</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1LeasePartyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PrivateIndividual" type="Q1PrivateIndividualType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Organization" type="Q1OrganizationType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" type="Q1AddressType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1ChargeePartyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PrivateIndividual" type="Q1PrivateIndividualType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Organization" type="Q1OrganizationType">
        <xs:annotation>
          <xs:documentation>
						The information relevant to an organized
						structure set up for a particular purpose, e.g.
						a business, government body, department,
						charity, or financial institution.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" type="Q1AddressType">
        <xs:annotation>
          <xs:documentation>
						The information relevant to a specific address
						of a Party.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ChargeeCharityDetails" type="Q1CharityDetailsType" />
      <xs:element minOccurs="0" maxOccurs="1" name="ChargeeTradingName" type="TextType">
        <xs:annotation>
          <xs:documentation>
						A private individual or company that carries out
						business transactions under another name.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1PropreitorPartyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PrivateIndividual" type="Q1PrivateIndividualType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Organization" type="Q1OrganizationType">
        <xs:annotation>
          <xs:documentation>
						The information relevant to an organized
						structure set up for a particular purpose, e.g.
						a business, government body, department,
						charity, or financial institution.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" type="Q1AddressType">
        <xs:annotation>
          <xs:documentation>
						The information relevant to a specific address
						of a Party.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ProprietorCharityDetails" type="Q1CharityDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1PostcodeZoneType">
    <xs:annotation>
      <xs:documentation>The identifier for one or more properties according to the UK postal service; a group of letters and numbers added to the postal address to assist in the sorting of mail, as defined by the Royal Mail.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Postcode" type="TextType">
        <xs:annotation>
          <xs:documentation>A full or partial UK Postcode</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1ProprietorshipType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CurrentProprietorshipDate" type="DateType">
        <xs:annotation>
          <xs:documentation>The date of the proprietorship entry in the Register.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="RegisteredProprietorParty" type="Q1PropreitorPartyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1RegisterEntryIndicatorsType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="PropertyDescriptionNotesIndicator" type="IndicatorType">
        <xs:annotation>
          <xs:documentation>A list of two mutually exclusive Boolean values that express the only possible states of a Property.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="DeathOfProprietorIndicator" type="IndicatorType">
        <xs:annotation>
          <xs:documentation>A list of two mutually exclusive Boolean values that express the only possible states of a Property.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="UnilateralNoticeIndicator" type="IndicatorType">
        <xs:annotation>
          <xs:documentation>A list of two mutually exclusive Boolean values that express the only possible states of a Property.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="AgreedNoticeIndicator" type="IndicatorType">
        <xs:annotation>
          <xs:documentation>A list of two mutually exclusive Boolean values that express the only possible states of a Property.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="CautionIndicator" type="IndicatorType">
        <xs:annotation>
          <xs:documentation>A list of two mutually exclusive Boolean values that express the only possible states of a Property.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="LeaseIndicator" type="IndicatorType">
        <xs:annotation>
          <xs:documentation>A list of two mutually exclusive Boolean values that express the only possible states of a Property.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="UnidentifiedEntryIndicator" type="IndicatorType">
        <xs:annotation>
          <xs:documentation>A list of two mutually exclusive Boolean values that express the only possible states of a Property.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1RejectionType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ExternalReference" type="Q1ExternalReferenceType">
        <xs:annotation>
          <xs:documentation>A unique reference given to identify a particular request, order or instruction in the system of the organisation allocating it with the ability to associate the name of the Company that has allocated it.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ActualPrice" type="Q1ActualPriceType">
        <xs:annotation>
          <xs:documentation>This is the price for a Search/Product</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="RejectionResponse" type="Q1RejectionResponseType">
        <xs:annotation>
          <xs:documentation>Provides details of the reasons for the rejection of the Search Order Send message.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1RejectionResponseType">
    <xs:annotation>
      <xs:documentation>Provides details of the reasons for the rejection.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Reason" type="TextType">
        <xs:annotation>
          <xs:documentation>A description of the reason for rejection.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Code" type="TextType">
        <xs:annotation>
          <xs:documentation>A code signifying the reason for rejection</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="OtherDescription" type="TextType">
        <xs:annotation>
          <xs:documentation>Freeform text field to convey any further information about the rejection.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValidationErrors" type="Q1ValidationErrorsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1RestrictionType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="TypeCode" type="RestrictionCodeType">
        <xs:annotation>
          <xs:documentation>Type of restriction present in the Register.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Date" type="DateType">
        <xs:annotation>
          <xs:documentation>Date of restriction on the Register.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1ResultsType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="MessageDetails" type="Q1MessageDetailsType" />
      <xs:element minOccurs="1" maxOccurs="1" name="ExternalReference" type="Q1ExternalReferenceType">
        <xs:annotation>
          <xs:documentation>
						Reference associated with a case in Case
						Management System
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ActualPrice" type="Q1ActualPriceType">
        <xs:annotation>
          <xs:documentation>
						This is the price for a Search/Product
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Attachment" type="Q1AttachmentType">
        <xs:annotation>
          <xs:documentation>
						An electronic copy of a document that may be
						attached to a message.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="OCSummaryData" type="Q1OCSummaryDataType" />
      <xs:element minOccurs="0" maxOccurs="1" name="OCRegisterData" type="Q1OCRegisterDataType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1TitleType">
    <xs:annotation>
      <xs:documentation>Describes a title to an interest or tenure interest which is registered at H.M. Land Registry in England and Wales.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="TitleNumber" type="Q2TextType">
        <xs:annotation>
          <xs:documentation>
A unique reference number given to a piece of registered land.  It is made up of an optional prefix of up to 3 characters followed by up to six numerics.  It consists of two main parts:
(i) The Administrative Area being one or more of the following:
?? County
?? District
?? London Borough
?? Unitary Authority.
(ii) The Property Address which usually comprises:
?? House number or name or plot number
?? Road or st
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="ClassOfTitleCode" type="ClassOfTitleCodeType">
        <xs:annotation>
          <xs:documentation>A character string (letters, figures or symbols) that for brevity and/or language independence may be used to represent or replace a definitive value or text of an Attribute together with relevant supplementary information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="CommonholdIndicator" type="IndicatorType">
        <xs:annotation>
          <xs:documentation>A list of two mutually exclusive Boolean values that express the only possible states of a Property.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="TitleRegistrationDetails" type="Q1TitleRegistrationDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1TitleRegistrationDetailsType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DistrictName" type="DistrictNameTextType">
        <xs:annotation>
          <xs:documentation>A character string (i.e. a finite set of characters) generally in the form of words of a language.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="AdministrativeArea" type="AdministrativeAreaTextType">
        <xs:annotation>
          <xs:documentation>A character string (i.e. a finite set of characters) generally in the form of words of a language.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="LandRegistryOfficeName" type="LandRegistryOfficeNameTextType">
        <xs:annotation>
          <xs:documentation>A character string (i.e. a finite set of characters) generally in the form of words of a language.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1ValidationErrorsType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Code" type="TextType">
        <xs:annotation>
          <xs:documentation>A character string (i.e. a finite set of characters) generally in the form of words of a language.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Description" type="TextType">
        <xs:annotation>
          <xs:documentation>A character string (i.e. a finite set of characters) generally in the form of words of a language.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdministrativeAreaTextType">
    <xs:annotation>
      <xs:documentation>A character string (i.e. a finite set of characters) generally in the form of words of a language.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="AdministrativeAreaTextContentType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryObjectType">
    <xs:annotation>
      <xs:documentation>A set of finite-length sequences of binary octets.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:base64Binary">
        <xs:attribute name="filename" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>
Must be the full filename including the extension
(Reference IETF RFC 2045, 2046, 2047)
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="format" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>
The format of the binary content.
Note: A file format is a particular way to encode information for storage in a computer file. May be identified by the section of its name following the final period, e.g., gif, pdf, jpg.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="mimeCode" type="xs:normalizedString" use="optional">
          <xs:annotation>
            <xs:documentation>
The mime type of the binary object.
(Reference IETF RFC 2045, 2046, 2047)
Note: consist of a standardised system of identifiers (managed by IANA) consisting of a type and a sub-type, separated by a slash - for instance, text/html or image/gif.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="characterSetCode" type="xs:normalizedString" use="optional">
          <xs:annotation>
            <xs:documentation>
The character set of the binary object if the mime type is text.
(Reference IETF RFC 2045, 2046, 2047). Examples: ISO-8859-1, UTF-8, UTF-16. See also http://www.iana.org/assignments/character-sets.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ClassOfTitleCodeType">
    <xs:annotation>
      <xs:documentation>A character string (letters, figures or symbols) that for brevity and/or language independence may be used to represent or replace a definitive value or text of an Attribute together with relevant supplementary information.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ClassOfTitleCodeContentType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CompanyRegistrationNumberTextType">
    <xs:annotation>
      <xs:documentation>A character string (i.e. a finite set of characters) generally in the form of words of a language.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="CompanyRegistrationNumberTextContentType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DateType">
    <xs:annotation>
      <xs:documentation>
A particular point in the progression of time together with the relevant supplementary information. OSCRE dates follow the ISO 8601 Standard. The international standard date notation is  YYYY-MM-DD where YYYY is the year in the usual Gregorian calendar, MM is the month of the year between 01 (January) and 12 (December), and DD is the day of the month between 01 and 31.

For example, the fourth day of February in the year 1995 is written in the standard notation as 1995-02-04
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:date" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DateTimeType">
    <xs:annotation>
      <xs:documentation>A particular point in the progression of time together with the relevant supplementary information.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:dateTime" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DistrictNameTextType">
    <xs:annotation>
      <xs:documentation>A character string (i.e. a finite set of characters) generally in the form of words of a language.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="DistrictNameTextContentType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AmountType">
    <xs:annotation>
      <xs:documentation>A number of monetary units specified in a currency where the unit of the currency is explicit or implied.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="currencyID" type="xs:normalizedString" use="optional">
          <xs:annotation>
            <xs:documentation>The currency of the amount</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="IndicatorType">
    <xs:annotation>
      <xs:documentation>A list of two mutually exclusive Boolean values that express the only possible states of a Property.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:boolean" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LandRegistryOfficeNameTextType">
    <xs:annotation>
      <xs:documentation>A character string (i.e. a finite set of characters) generally in the form of words of a language.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="LandRegistryOfficeNameTextContentType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LeaseTermTextType">
    <xs:annotation>
      <xs:documentation>A character string (i.e. a finite set of characters) generally in the form of words of a language.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="LeaseTermTextContentType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="IdentifierType">
    <xs:annotation>
      <xs:documentation>A character string to identify and distinguish uniquely, one instance of an object in an identification scheme from all other objects in the same scheme together with relevant supplementary information.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:normalizedString">
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>The identification of the agency that maintains the identification scheme.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="schemeName" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>The name of the identification scheme.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="NumericType">
    <xs:annotation>
      <xs:documentation>Numeric information that is assigned or is determined by calculation, counting, or sequencing. It does not require a unit of quantity or unit of measure.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:decimal" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="OrganisationNameTextType">
    <xs:annotation>
      <xs:documentation>A character string (i.e. a finite set of characters) generally in the form of words of a language.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="OrganisationNameTextContentType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ProductResponseCodeType">
    <xs:annotation>
      <xs:documentation>Used to identify the response that will be issued to the CMS Vendor.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ProductResponseCodeContentType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="RentAmountTextType">
    <xs:annotation>
      <xs:documentation>A character string (i.e. a finite set of characters) generally in the form of words of a language.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="RentAmountTextContentType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="RestrictionCodeType">
    <xs:annotation>
      <xs:documentation>Type of restriction present in the Register.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="RestrictionCodeContentType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:annotation>
      <xs:documentation>A character string (i.e. a finite set of characters) generally in the form of words of a language.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Q2TextType">
    <xs:annotation>
      <xs:documentation>A character string (i.e. a finite set of
				characters) generally in the form of words of a language.
			</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="Q2TextContentType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Q1NameType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ForenamesName" type="TextType" />
      <xs:element minOccurs="1" maxOccurs="1" name="SurnameName" type="TextType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1CharityDetailsType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CharityName" type="TextType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CharityAddress" type="Q1AddressType" />
      <xs:element minOccurs="1" maxOccurs="1" name="CharityType" type="CharityCodeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CharityCodeType">
    <xs:annotation>
      <xs:documentation>Type of Charity.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="CharityCodeContentType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Q1PrivateIndividualType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Name" type="Q1NameType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alias" type="Q1NameType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1OCRegisterDataType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="PropertyRegister" type="Q1RegisterType" />
      <xs:element minOccurs="1" maxOccurs="1" name="ProprietorshipRegister" type="Q1RegisterType">
        <xs:annotation>
          <xs:documentation>
						AS part of RFC 11583/1 RES will be excluding
						1925 Act Cautions as they cannot be converted
						into Intelligent Register format. Hence all
						Title Numbers will have an A and B register.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ChargesRegister" type="Q1RegisterType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1RegisterType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DistrictDetails" type="Q1DistrictDetailsType" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="RegisterEntry" type="Q1RegisterEntryType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Schedule" type="Q1ScheduleType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1RegisterEntryType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="EntryNumber" type="TextType" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntryDate" type="TextType" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntryType" type="TextType" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="EntryText" type="TextType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1ScheduleType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ScheduleType" type="TextType" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="ScheduleEntry" type="Q1RegisterEntryType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AdministrativeAreaTextContentType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="38" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AttachmentDescriptionTextContentType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="200" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AttachmentFileTitleTextContentType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="250" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ClassOfTitleCodeContentType">
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="10">
        <xs:annotation>
          <xs:documentation>Absolute Freehold</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="20">
        <xs:annotation>
          <xs:documentation>Possessory Freehold</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="30">
        <xs:annotation>
          <xs:documentation>Qualified Freehold</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="40">
        <xs:annotation>
          <xs:documentation>Scheme Title - Freehold</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="50">
        <xs:annotation>
          <xs:documentation>Scheme Title - Leasehold</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="60">
        <xs:annotation>
          <xs:documentation>Absolute Leasehold</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="70">
        <xs:annotation>
          <xs:documentation>Good Leasehold</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="80">
        <xs:annotation>
          <xs:documentation>Qualified Leasehold</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="90">
        <xs:annotation>
          <xs:documentation>Possessory Leasehold</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="100">
        <xs:annotation>
          <xs:documentation>Absolute Rentcharge</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="110">
        <xs:annotation>
          <xs:documentation>Possessory Rentcharge</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="120">
        <xs:annotation>
          <xs:documentation>Qualified Rentcharge</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="130">
        <xs:annotation>
          <xs:documentation>Caution Against First Registration</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CompanyRegistrationNumberTextContentType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DescriptionTextContentType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1024" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DistrictNameTextContentType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="38" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LandRegistryOfficeNameTextContentType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LeaseTermTextContentType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="500" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NonEmptyTextContentType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="500" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OrganisationNameTextContentType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="366" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ProductResponseCodeContentType">
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:documentation>Other</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="10">
        <xs:annotation>
          <xs:documentation>Acknowledgement</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="20">
        <xs:annotation>
          <xs:documentation>Rejection</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="30">
        <xs:annotation>
          <xs:documentation>Result</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RentAmountTextContentType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="200" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RestrictionCodeContentType">
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:documentation>Other</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="10">
        <xs:annotation>
          <xs:documentation>Joint Proprietor</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Q2TextContentType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="9" />
      <xs:pattern value="[A-Z]{0,3}[0-9]{1,6}[ZT]?" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CharityCodeContentType">
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="C">
        <xs:annotation>
          <xs:documentation>Charity</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="R">
        <xs:annotation>
          <xs:documentation>Official Custodian for Charities</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="S">
        <xs:annotation>
          <xs:documentation>Official Custodian for Charities (Trustees)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Q1DistrictDetailsType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntryText" type="TextType" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>