Backend/StrategiesActivator/Service References/EzServiceReference/EzBob.Models.Agreements.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EzBob.Models.Agreements" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EzBob.Models.Agreements" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EzBob.Web.Areas.Customer.Models" />
  <xs:complexType name="AgreementModel">
    <xs:sequence>
      <xs:element name="Term" type="xs:int" />
      <xs:element name="_x003C_APR_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_CompanyAdress_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CompanyName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CompanyNumber_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CountRepayment_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_CurentDate_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CurrentDate_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CustomerEmail_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FormattedSchedules_x003E_k__BackingField" nillable="true" type="tns:ArrayOfFormattedSchedule" />
      <xs:element name="_x003C_FullName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_InterestRatePerDayFormatted_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_InterestRatePerDay_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_InterestRatePerYearFormatted_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_InterestRate_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_IsBrokerFee_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IsManualSetupFee_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LoanType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ManualSetupFee_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PersonAddress_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EzBob.Web.Areas.Customer.Models" name="_x003C_Schedule_x003E_k__BackingField" nillable="true" type="q1:ArrayOfLoanScheduleItemModel" />
      <xs:element name="_x003C_SetupFeeAmount_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SetupFeePercent_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SetupFee_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TermInterestAndPrincipalWords_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TermInterestAndPrincipal_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_TermOnlyInterestWords_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TermOnlyInterest_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_TotalAmount_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TotalAmoutOfCredit_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TotalFees_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TotalInterest_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TotalPrincipalWithSetupFee_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TotalPrincipal_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TypeOfBusinessName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_isHalwayLoan_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgreementModel" nillable="true" type="tns:AgreementModel" />
  <xs:complexType name="ArrayOfFormattedSchedule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FormattedSchedule" nillable="true" type="tns:FormattedSchedule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFormattedSchedule" nillable="true" type="tns:ArrayOfFormattedSchedule" />
  <xs:complexType name="FormattedSchedule">
    <xs:sequence>
      <xs:element name="_x003C_AmountDue_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Date_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Fees_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_InterestRate_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Interest_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Iterration_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Principal_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_StringNumber_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormattedSchedule" nillable="true" type="tns:FormattedSchedule" />
</xs:schema>