Backend/StrategiesActivator/Service References/EzServiceReference/Ezbob.Backend.Models1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ezbob.Backend.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBrokerCustomerEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BrokerCustomerEntry" nillable="true" type="tns:BrokerCustomerEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBrokerCustomerEntry" nillable="true" type="tns:ArrayOfBrokerCustomerEntry" />
  <xs:complexType name="BrokerCustomerEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplyDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="LoanDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Marketplaces" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WizardStep" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrokerCustomerEntry" nillable="true" type="tns:BrokerCustomerEntry" />
</xs:schema>