Backend/StrategiesActivator/Service References/EzServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EzService" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EzBob.Models.Agreements" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EzBob.Backend.Strategies" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/FraudChecker" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EzService.ActionResults" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EzBob.Web.Areas.Underwriter.Models" />
  <xs:element name="Shutdown">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShutdownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="ShutdownResult" nillable="true" type="q1:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nLengthInSeconds" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="NopResult" nillable="true" type="q2:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Terminate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sActionID" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="TerminateResult" nillable="true" type="q4:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListActiveActions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListActiveActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="ListActiveActionsResult" nillable="true" type="q5:StringListActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteToLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sSeverity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteToLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="WriteToLogResult" nillable="true" type="q6:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAgreement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EzBob.Models.Agreements" minOccurs="0" name="model" nillable="true" type="q7:AgreementModel" />
        <xs:element minOccurs="0" name="refNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EzBob.Models.Agreements" minOccurs="0" name="template" nillable="true" type="q8:TemplateModel" />
        <xs:element minOccurs="0" name="path1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAgreementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="SaveAgreementResult" nillable="true" type="q9:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="CheckAmlResult" nillable="true" type="q10:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAmlCustom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="idhubHouseNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idhubHouseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idhubStreet" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idhubDistrict" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idhubTown" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idhubCounty" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idhubPostCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAmlCustomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="CheckAmlCustomResult" nillable="true" type="q11:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBwa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBwaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="CheckBwaResult" nillable="true" type="q12:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBwaCustom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="idhubHouseNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idhubHouseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idhubStreet" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idhubDistrict" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idhubTown" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idhubCounty" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idhubPostCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idhubBranchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idhubAccountNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBwaCustomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="CheckBwaCustomResult" nillable="true" type="q13:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBroker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sContactEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBrokerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="IsBrokerResult" nillable="true" type="q14:BoolActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerSignup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FirmName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FirmRegNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContactEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContactMobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MobileCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContactOtherPhone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EstimatedMonthlyClientAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerSignupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="BrokerSignupResult" nillable="true" type="q15:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="BrokerLoginResult" nillable="true" type="q16:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerRestorePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sMobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerRestorePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="BrokerRestorePasswordResult" nillable="true" type="q17:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerLoadCustomerList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sContactEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerLoadCustomerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="BrokerLoadCustomerListResult" nillable="true" type="q18:BrokerCustomersActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerLoadCustomerDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nCustomerID" type="xs:int" />
        <xs:element minOccurs="0" name="sContactEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerLoadCustomerDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="BrokerLoadCustomerDetailsResult" nillable="true" type="q19:BrokerCustomerDetailsActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerSaveCrmEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bIsIncoming" type="xs:boolean" />
        <xs:element minOccurs="0" name="nActionID" type="xs:int" />
        <xs:element minOccurs="0" name="nStatusID" type="xs:int" />
        <xs:element minOccurs="0" name="sComment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nCustomerID" type="xs:int" />
        <xs:element minOccurs="0" name="sContactEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerSaveCrmEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="BrokerSaveCrmEntryResult" nillable="true" type="q20:StringActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerLoadCustomerFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nCustomerID" type="xs:int" />
        <xs:element minOccurs="0" name="sContactEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerLoadCustomerFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="BrokerLoadCustomerFilesResult" nillable="true" type="q21:BrokerCustomerFilesActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerDownloadCustomerFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nCustomerID" type="xs:int" />
        <xs:element minOccurs="0" name="sContactEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nFileID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerDownloadCustomerFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="BrokerDownloadCustomerFileResult" nillable="true" type="q22:BrokerCustomerFileContentsActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerSaveUploadedCustomerFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nCustomerID" type="xs:int" />
        <xs:element minOccurs="0" name="sContactEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oFileContents" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="sFileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerSaveUploadedCustomerFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="BrokerSaveUploadedCustomerFileResult" nillable="true" type="q23:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerDeleteCustomerFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nCustomerID" type="xs:int" />
        <xs:element minOccurs="0" name="sContactEmail" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="aryFileIDs" nillable="true" type="q24:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerDeleteCustomerFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="BrokerDeleteCustomerFilesResult" nillable="true" type="q25:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerAddCustomerLead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sLeadFirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sLeadLastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sLeadEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sLeadAddMode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sContactEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerAddCustomerLeadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="BrokerAddCustomerLeadResult" nillable="true" type="q26:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerLeadCanFillWizard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nLeadID" type="xs:int" />
        <xs:element minOccurs="0" name="sLeadEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sContactEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerLeadCanFillWizardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="BrokerLeadCanFillWizardResult" nillable="true" type="q27:BrokerLeadDetailsActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerLeadAcquireCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nCustomerID" type="xs:int" />
        <xs:element minOccurs="0" name="nLeadID" type="xs:int" />
        <xs:element minOccurs="0" name="sEmailConfirmationLink" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerLeadAcquireCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="BrokerLeadAcquireCustomerResult" nillable="true" type="q28:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerCustomerWizardComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nCustomerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerCustomerWizardCompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="BrokerCustomerWizardCompleteResult" nillable="true" type="q29:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerBackFromCustomerWizard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nLeadID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerBackFromCustomerWizardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="BrokerBackFromCustomerWizardResult" nillable="true" type="q30:StringActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerLeadCheckToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerLeadCheckTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="BrokerLeadCheckTokenResult" nillable="true" type="q31:BrokerLeadDetailsActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaisGenerate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="underwriterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaisGenerateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="CaisGenerateResult" nillable="true" type="q32:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaisUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="caisId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaisUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="CaisUpdateResult" nillable="true" type="q33:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyFilesUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileContent" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="fileContentType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyFilesUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="CompanyFilesUploadResult" nillable="true" type="q34:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyFileId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCompanyFileResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GreetingMailStrategy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nCustomerID" type="xs:int" />
        <xs:element minOccurs="0" name="sConfirmationEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GreetingMailStrategyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="GreetingMailStrategyResult" nillable="true" type="q35:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApprovedUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="loanAmount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApprovedUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="ApprovedUserResult" nillable="true" type="q36:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CashTransferred">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CashTransferredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="CashTransferredResult" nillable="true" type="q37:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailUnderReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailUnderReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="EmailUnderReviewResult" nillable="true" type="q38:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Escalated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EscalatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="EscalatedResult" nillable="true" type="q39:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCashFailed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCashFailedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="GetCashFailedResult" nillable="true" type="q40:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoanFullyPaid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="loanRefNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoanFullyPaidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="LoanFullyPaidResult" nillable="true" type="q41:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoreAmlAndBwaInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoreAmlAndBwaInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="MoreAmlAndBwaInformationResult" nillable="true" type="q42:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoreAmlInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoreAmlInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="MoreAmlInformationResult" nillable="true" type="q43:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoreBwaInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoreBwaInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="MoreBwaInformationResult" nillable="true" type="q44:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasswordChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasswordChangedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="PasswordChangedResult" nillable="true" type="q45:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasswordRestored">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasswordRestoredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="PasswordRestoredResult" nillable="true" type="q46:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayEarly">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="loanRefNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayEarlyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="PayEarlyResult" nillable="true" type="q47:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayPointAddedByUnderwriter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="cardno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="underwriterName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="underwriterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayPointAddedByUnderwriterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="PayPointAddedByUnderwriterResult" nillable="true" type="q48:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayPointNameValidationFailed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="cardHolderName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayPointNameValidationFailedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="PayPointNameValidationFailedResult" nillable="true" type="q49:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="RejectUserResult" nillable="true" type="q50:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailRolloverAdded">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailRolloverAddedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="EmailRolloverAddedResult" nillable="true" type="q51:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewEbayToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="marketplaceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eBayAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewEbayTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="RenewEbayTokenResult" nillable="true" type="q52:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestCashWithoutTakenLoan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestCashWithoutTakenLoanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="RequestCashWithoutTakenLoanResult" nillable="true" type="q53:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailVerification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailVerificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="SendEmailVerificationResult" nillable="true" type="q54:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThreeInvalidAttempts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThreeInvalidAttemptsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="ThreeInvalidAttemptsResult" nillable="true" type="q55:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferCashFailed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferCashFailedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="TransferCashFailedResult" nillable="true" type="q56:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerLeadSendInvitation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nLeadID" type="xs:int" />
        <xs:element minOccurs="0" name="sBrokerContactEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokerLeadSendInvitationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="BrokerLeadSendInvitationResult" nillable="true" type="q57:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExperianCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExperianCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="CheckExperianCompanyResult" nillable="true" type="q58:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExperianConsumer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="directorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckExperianConsumerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="CheckExperianConsumerResult" nillable="true" type="q59:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LandRegistryEnquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="buildingNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="streetName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cityName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LandRegistryEnquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LandRegistryEnquiryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LandRegistryRes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="titleNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LandRegistryResResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LandRegistryResResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MainStrategy1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uderwriterId" type="xs:int" />
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/EzBob.Backend.Strategies" minOccurs="0" name="newCreditLine" type="q60:NewCreditLineOption" />
        <xs:element minOccurs="0" name="avoidAutoDescison" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MainStrategy1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="MainStrategy1Result" nillable="true" type="q61:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MainStrategy2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uderwriterId" type="xs:int" />
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/EzBob.Backend.Strategies" minOccurs="0" name="newCreditLine" type="q62:NewCreditLineOption" />
        <xs:element minOccurs="0" name="avoidAutoDescison" type="xs:int" />
        <xs:element minOccurs="0" name="isUnderwriterForced" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MainStrategy2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="MainStrategy2Result" nillable="true" type="q63:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MainStrategy3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uderwriterId" type="xs:int" />
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="checkType" type="xs:int" />
        <xs:element minOccurs="0" name="houseNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="houseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="street" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="district" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="town" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="county" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="avoidAutoDescison" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MainStrategy3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="MainStrategy3Result" nillable="true" type="q64:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MainStrategySync1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="underwriterId" type="xs:int" />
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/EzBob.Backend.Strategies" minOccurs="0" name="newCreditLine" type="q65:NewCreditLineOption" />
        <xs:element minOccurs="0" name="avoidAutoDescison" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MainStrategySync1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="MainStrategySync1Result" nillable="true" type="q66:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateMobileCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateMobileCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="GenerateMobileCodeResult" nillable="true" type="q67:BoolActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateMobileCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateMobileCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="ValidateMobileCodeResult" nillable="true" type="q68:BoolActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirstOfMonthStatusNotifier">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FirstOfMonthStatusNotifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="FirstOfMonthStatusNotifierResult" nillable="true" type="q69:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FraudChecker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/FraudChecker" minOccurs="0" name="mode" type="q70:FraudMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FraudCheckerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="FraudCheckerResult" nillable="true" type="q71:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LateBy14Days">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LateBy14DaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="LateBy14DaysResult" nillable="true" type="q72:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayPointCharger">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PayPointChargerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="PayPointChargerResult" nillable="true" type="q73:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLateLoanStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLateLoanStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="SetLateLoanStatusResult" nillable="true" type="q74:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMarketplace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="marketplaceId" type="xs:int" />
        <xs:element minOccurs="0" name="doUpdateWizardStep" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMarketplaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="UpdateMarketplaceResult" nillable="true" type="q75:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransactionStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransactionStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="UpdateTransactionStatusResult" nillable="true" type="q76:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XDaysDue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="XDaysDueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="XDaysDueResult" nillable="true" type="q77:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCurrencyRates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCurrencyRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="UpdateCurrencyRatesResult" nillable="true" type="q78:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrmLoadLookups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CrmLoadLookupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="CrmLoadLookupsResult" nillable="true" type="q79:CrmLookupsActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpResultTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="spName" nillable="true" type="xs:string" />
        <xs:element xmlns:q80="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q80:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpResultTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/EzService.ActionResults" minOccurs="0" name="GetSpResultTableResult" nillable="true" type="q81:SerializedDataTableActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBasicInterestRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/EzBob.Web.Areas.Underwriter.Models" minOccurs="0" name="basicInterestRates" nillable="true" type="q82:ArrayOfBasicInterestRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBasicInterestRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="SaveBasicInterestRateResult" nillable="true" type="q83:BoolActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLoanOfferMultiplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/EzBob.Web.Areas.Underwriter.Models" minOccurs="0" name="loanOfferMultipliers" nillable="true" type="q84:ArrayOfLoanOfferMultiplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLoanOfferMultiplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="SaveLoanOfferMultiplierResult" nillable="true" type="q85:BoolActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuickOffer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="saveOfferToDB" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuickOfferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="QuickOfferResult" nillable="true" type="q86:QuickOfferActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuickOfferWithPrerequisites">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="saveOfferToDB" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuickOfferWithPrerequisitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="QuickOfferWithPrerequisitesResult" nillable="true" type="q87:QuickOfferActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWizardConfigs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWizardConfigsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="GetWizardConfigsResult" nillable="true" type="q88:WizardConfigsActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishWizard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="underwriterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishWizardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="FinishWizardResult" nillable="true" type="q89:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="GetCustomerStateResult" nillable="true" type="q90:StringActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerStatusRefreshInterval">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerStatusRefreshIntervalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="GetCustomerStatusRefreshIntervalResult" nillable="true" type="q91:IntActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>