Backend/StrategiesActivator/Service References/EzServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EzService" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Shutdown">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShutdownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="ShutdownResult" nillable="true" type="q1:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nLengthInSeconds" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="NopResult" nillable="true" type="q2:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Terminate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sActionID" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="TerminateResult" nillable="true" type="q4:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListActiveActions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListActiveActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="ListActiveActionsResult" nillable="true" type="q5:StringListActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteToLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sSeverity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteToLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="WriteToLogResult" nillable="true" type="q6:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GreetingMailStrategy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nCustomerID" type="xs:int" />
        <xs:element minOccurs="0" name="sConfirmationEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GreetingMailStrategyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="GreetingMailStrategyResult" nillable="true" type="q7:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerMarketplaceAdded">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nCustomerID" type="xs:int" />
        <xs:element minOccurs="0" name="nMarketplaceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerMarketplaceAddedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="CustomerMarketplaceAddedResult" nillable="true" type="q8:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApprovedUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="loanAmount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApprovedUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="ApprovedUserResult" nillable="true" type="q9:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CashTransferred">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CashTransferredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="CashTransferredResult" nillable="true" type="q10:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailUnderReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailUnderReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="EmailUnderReviewResult" nillable="true" type="q11:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Escalated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EscalatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="EscalatedResult" nillable="true" type="q12:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCashFailed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCashFailedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="GetCashFailedResult" nillable="true" type="q13:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoanFullyPaid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="loanRefNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoanFullyPaidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="LoanFullyPaidResult" nillable="true" type="q14:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoreAmLandBwaInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoreAmLandBwaInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="MoreAmLandBwaInformationResult" nillable="true" type="q15:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoreAmlInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoreAmlInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="MoreAmlInformationResult" nillable="true" type="q16:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoreBwaInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoreBwaInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="MoreBwaInformationResult" nillable="true" type="q17:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasswordChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasswordChangedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="PasswordChangedResult" nillable="true" type="q18:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasswordRestored">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasswordRestoredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="PasswordRestoredResult" nillable="true" type="q19:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayEarly">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="loanRefNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayEarlyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="PayEarlyResult" nillable="true" type="q20:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayPointAddedByUnderwriter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="cardno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="underwriterName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="underwriterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayPointAddedByUnderwriterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="PayPointAddedByUnderwriterResult" nillable="true" type="q21:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayPointNameValidationFailed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="cardHolderName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayPointNameValidationFailedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="PayPointNameValidationFailedResult" nillable="true" type="q22:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="RejectUserResult" nillable="true" type="q23:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailRolloverAdded">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailRolloverAddedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="EmailRolloverAddedResult" nillable="true" type="q24:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewEbayToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="marketplaceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eBayAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewEbayTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="RenewEbayTokenResult" nillable="true" type="q25:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestCashWithoutTakenLoan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestCashWithoutTakenLoanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="RequestCashWithoutTakenLoanResult" nillable="true" type="q26:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailVerification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailVerificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="SendEmailVerificationResult" nillable="true" type="q27:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThreeInvalidAttempts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThreeInvalidAttemptsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="ThreeInvalidAttemptsResult" nillable="true" type="q28:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferCashFailed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferCashFailedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="TransferCashFailedResult" nillable="true" type="q29:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaisGenerate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="underwriterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaisGenerateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="CaisGenerateResult" nillable="true" type="q30:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaisUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caisId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaisUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="CaisUpdateResult" nillable="true" type="q31:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirstOfMonthStatusNotifier">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FirstOfMonthStatusNotifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="FirstOfMonthStatusNotifierResult" nillable="true" type="q32:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FraudChecker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FraudCheckerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="FraudCheckerResult" nillable="true" type="q33:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LateBy14Days">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LateBy14DaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="LateBy14DaysResult" nillable="true" type="q34:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayPointCharger">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PayPointChargerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="PayPointChargerResult" nillable="true" type="q35:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLateLoanStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLateLoanStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="SetLateLoanStatusResult" nillable="true" type="q36:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMarketplaces">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="marketplaceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMarketplacesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="UpdateMarketplacesResult" nillable="true" type="q37:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAllMarketplaces">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAllMarketplacesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="UpdateAllMarketplacesResult" nillable="true" type="q38:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransactionStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransactionStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="UpdateTransactionStatusResult" nillable="true" type="q39:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XDaysDue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="XDaysDueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="XDaysDueResult" nillable="true" type="q40:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>