Backend/StrategiesActivator/Service References/EzServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EzServiceImplementation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IEzServiceAdmin_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetHttpBinding_IEzService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/EzService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEzServiceAdmin_Shutdown_InputMessage">
    <wsdl:part name="parameters" element="tns:Shutdown" />
  </wsdl:message>
  <wsdl:message name="IEzServiceAdmin_Shutdown_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShutdownResponse" />
  </wsdl:message>
  <wsdl:message name="IEzServiceAdmin_Nop_InputMessage">
    <wsdl:part name="parameters" element="tns:Nop" />
  </wsdl:message>
  <wsdl:message name="IEzServiceAdmin_Nop_OutputMessage">
    <wsdl:part name="parameters" element="tns:NopResponse" />
  </wsdl:message>
  <wsdl:message name="IEzServiceAdmin_Terminate_InputMessage">
    <wsdl:part name="parameters" element="tns:Terminate" />
  </wsdl:message>
  <wsdl:message name="IEzServiceAdmin_Terminate_OutputMessage">
    <wsdl:part name="parameters" element="tns:TerminateResponse" />
  </wsdl:message>
  <wsdl:message name="IEzServiceAdmin_ListActiveActions_InputMessage">
    <wsdl:part name="parameters" element="tns:ListActiveActions" />
  </wsdl:message>
  <wsdl:message name="IEzServiceAdmin_ListActiveActions_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListActiveActionsResponse" />
  </wsdl:message>
  <wsdl:message name="IEzServiceAdmin_WriteToLog_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteToLog" />
  </wsdl:message>
  <wsdl:message name="IEzServiceAdmin_WriteToLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteToLogResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_GreetingMailStrategy_InputMessage">
    <wsdl:part name="parameters" element="tns:GreetingMailStrategy" />
  </wsdl:message>
  <wsdl:message name="IEzService_GreetingMailStrategy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GreetingMailStrategyResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_CustomerMarketplaceAdded_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerMarketplaceAdded" />
  </wsdl:message>
  <wsdl:message name="IEzService_CustomerMarketplaceAdded_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerMarketplaceAddedResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_ApprovedUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ApprovedUser" />
  </wsdl:message>
  <wsdl:message name="IEzService_ApprovedUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApprovedUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_CashTransferred_InputMessage">
    <wsdl:part name="parameters" element="tns:CashTransferred" />
  </wsdl:message>
  <wsdl:message name="IEzService_CashTransferred_OutputMessage">
    <wsdl:part name="parameters" element="tns:CashTransferredResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_EmailUnderReview_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailUnderReview" />
  </wsdl:message>
  <wsdl:message name="IEzService_EmailUnderReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailUnderReviewResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_Escalated_InputMessage">
    <wsdl:part name="parameters" element="tns:Escalated" />
  </wsdl:message>
  <wsdl:message name="IEzService_Escalated_OutputMessage">
    <wsdl:part name="parameters" element="tns:EscalatedResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_GetCashFailed_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCashFailed" />
  </wsdl:message>
  <wsdl:message name="IEzService_GetCashFailed_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCashFailedResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_LoanFullyPaid_InputMessage">
    <wsdl:part name="parameters" element="tns:LoanFullyPaid" />
  </wsdl:message>
  <wsdl:message name="IEzService_LoanFullyPaid_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoanFullyPaidResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_MoreAmLandBwaInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:MoreAmLandBwaInformation" />
  </wsdl:message>
  <wsdl:message name="IEzService_MoreAmLandBwaInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoreAmLandBwaInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_MoreAmlInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:MoreAmlInformation" />
  </wsdl:message>
  <wsdl:message name="IEzService_MoreAmlInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoreAmlInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_MoreBwaInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:MoreBwaInformation" />
  </wsdl:message>
  <wsdl:message name="IEzService_MoreBwaInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoreBwaInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_PasswordChanged_InputMessage">
    <wsdl:part name="parameters" element="tns:PasswordChanged" />
  </wsdl:message>
  <wsdl:message name="IEzService_PasswordChanged_OutputMessage">
    <wsdl:part name="parameters" element="tns:PasswordChangedResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_PasswordRestored_InputMessage">
    <wsdl:part name="parameters" element="tns:PasswordRestored" />
  </wsdl:message>
  <wsdl:message name="IEzService_PasswordRestored_OutputMessage">
    <wsdl:part name="parameters" element="tns:PasswordRestoredResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_PayEarly_InputMessage">
    <wsdl:part name="parameters" element="tns:PayEarly" />
  </wsdl:message>
  <wsdl:message name="IEzService_PayEarly_OutputMessage">
    <wsdl:part name="parameters" element="tns:PayEarlyResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_PayPointAddedByUnderwriter_InputMessage">
    <wsdl:part name="parameters" element="tns:PayPointAddedByUnderwriter" />
  </wsdl:message>
  <wsdl:message name="IEzService_PayPointAddedByUnderwriter_OutputMessage">
    <wsdl:part name="parameters" element="tns:PayPointAddedByUnderwriterResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_PayPointNameValidationFailed_InputMessage">
    <wsdl:part name="parameters" element="tns:PayPointNameValidationFailed" />
  </wsdl:message>
  <wsdl:message name="IEzService_PayPointNameValidationFailed_OutputMessage">
    <wsdl:part name="parameters" element="tns:PayPointNameValidationFailedResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_RejectUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RejectUser" />
  </wsdl:message>
  <wsdl:message name="IEzService_RejectUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RejectUserResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_EmailRolloverAdded_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailRolloverAdded" />
  </wsdl:message>
  <wsdl:message name="IEzService_EmailRolloverAdded_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailRolloverAddedResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_RenewEbayToken_InputMessage">
    <wsdl:part name="parameters" element="tns:RenewEbayToken" />
  </wsdl:message>
  <wsdl:message name="IEzService_RenewEbayToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:RenewEbayTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_RequestCashWithoutTakenLoan_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestCashWithoutTakenLoan" />
  </wsdl:message>
  <wsdl:message name="IEzService_RequestCashWithoutTakenLoan_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestCashWithoutTakenLoanResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_SendEmailVerification_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailVerification" />
  </wsdl:message>
  <wsdl:message name="IEzService_SendEmailVerification_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailVerificationResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_ThreeInvalidAttempts_InputMessage">
    <wsdl:part name="parameters" element="tns:ThreeInvalidAttempts" />
  </wsdl:message>
  <wsdl:message name="IEzService_ThreeInvalidAttempts_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThreeInvalidAttemptsResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_TransferCashFailed_InputMessage">
    <wsdl:part name="parameters" element="tns:TransferCashFailed" />
  </wsdl:message>
  <wsdl:message name="IEzService_TransferCashFailed_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferCashFailedResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_CaisGenerate_InputMessage">
    <wsdl:part name="parameters" element="tns:CaisGenerate" />
  </wsdl:message>
  <wsdl:message name="IEzService_CaisGenerate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CaisGenerateResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_CaisUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:CaisUpdate" />
  </wsdl:message>
  <wsdl:message name="IEzService_CaisUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CaisUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_FirstOfMonthStatusNotifier_InputMessage">
    <wsdl:part name="parameters" element="tns:FirstOfMonthStatusNotifier" />
  </wsdl:message>
  <wsdl:message name="IEzService_FirstOfMonthStatusNotifier_OutputMessage">
    <wsdl:part name="parameters" element="tns:FirstOfMonthStatusNotifierResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_FraudChecker_InputMessage">
    <wsdl:part name="parameters" element="tns:FraudChecker" />
  </wsdl:message>
  <wsdl:message name="IEzService_FraudChecker_OutputMessage">
    <wsdl:part name="parameters" element="tns:FraudCheckerResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_LateBy14Days_InputMessage">
    <wsdl:part name="parameters" element="tns:LateBy14Days" />
  </wsdl:message>
  <wsdl:message name="IEzService_LateBy14Days_OutputMessage">
    <wsdl:part name="parameters" element="tns:LateBy14DaysResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_PayPointCharger_InputMessage">
    <wsdl:part name="parameters" element="tns:PayPointCharger" />
  </wsdl:message>
  <wsdl:message name="IEzService_PayPointCharger_OutputMessage">
    <wsdl:part name="parameters" element="tns:PayPointChargerResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_SetLateLoanStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetLateLoanStatus" />
  </wsdl:message>
  <wsdl:message name="IEzService_SetLateLoanStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetLateLoanStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_UpdateMarketplace_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMarketplace" />
  </wsdl:message>
  <wsdl:message name="IEzService_UpdateMarketplace_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMarketplaceResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_UpdateAllMarketplaces_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAllMarketplaces" />
  </wsdl:message>
  <wsdl:message name="IEzService_UpdateAllMarketplaces_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAllMarketplacesResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_UpdateTransactionStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTransactionStatus" />
  </wsdl:message>
  <wsdl:message name="IEzService_UpdateTransactionStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTransactionStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IEzService_XDaysDue_InputMessage">
    <wsdl:part name="parameters" element="tns:XDaysDue" />
  </wsdl:message>
  <wsdl:message name="IEzService_XDaysDue_OutputMessage">
    <wsdl:part name="parameters" element="tns:XDaysDueResponse" />
  </wsdl:message>
  <wsdl:portType name="IEzServiceAdmin">
    <wsdl:operation name="Shutdown">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzServiceAdmin/Shutdown" message="tns:IEzServiceAdmin_Shutdown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzServiceAdmin/ShutdownResponse" message="tns:IEzServiceAdmin_Shutdown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Nop">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzServiceAdmin/Nop" message="tns:IEzServiceAdmin_Nop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzServiceAdmin/NopResponse" message="tns:IEzServiceAdmin_Nop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Terminate">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzServiceAdmin/Terminate" message="tns:IEzServiceAdmin_Terminate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzServiceAdmin/TerminateResponse" message="tns:IEzServiceAdmin_Terminate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListActiveActions">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzServiceAdmin/ListActiveActions" message="tns:IEzServiceAdmin_ListActiveActions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzServiceAdmin/ListActiveActionsResponse" message="tns:IEzServiceAdmin_ListActiveActions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteToLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzServiceAdmin/WriteToLog" message="tns:IEzServiceAdmin_WriteToLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzServiceAdmin/WriteToLogResponse" message="tns:IEzServiceAdmin_WriteToLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IEzService">
    <wsdl:operation name="GreetingMailStrategy">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/GreetingMailStrategy" message="tns:IEzService_GreetingMailStrategy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/GreetingMailStrategyResponse" message="tns:IEzService_GreetingMailStrategy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerMarketplaceAdded">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/CustomerMarketplaceAdded" message="tns:IEzService_CustomerMarketplaceAdded_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/CustomerMarketplaceAddedResponse" message="tns:IEzService_CustomerMarketplaceAdded_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApprovedUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/ApprovedUser" message="tns:IEzService_ApprovedUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/ApprovedUserResponse" message="tns:IEzService_ApprovedUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CashTransferred">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/CashTransferred" message="tns:IEzService_CashTransferred_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/CashTransferredResponse" message="tns:IEzService_CashTransferred_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailUnderReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/EmailUnderReview" message="tns:IEzService_EmailUnderReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/EmailUnderReviewResponse" message="tns:IEzService_EmailUnderReview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Escalated">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/Escalated" message="tns:IEzService_Escalated_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/EscalatedResponse" message="tns:IEzService_Escalated_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCashFailed">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/GetCashFailed" message="tns:IEzService_GetCashFailed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/GetCashFailedResponse" message="tns:IEzService_GetCashFailed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoanFullyPaid">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/LoanFullyPaid" message="tns:IEzService_LoanFullyPaid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/LoanFullyPaidResponse" message="tns:IEzService_LoanFullyPaid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoreAmLandBwaInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/MoreAmLandBwaInformation" message="tns:IEzService_MoreAmLandBwaInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/MoreAmLandBwaInformationResponse" message="tns:IEzService_MoreAmLandBwaInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoreAmlInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/MoreAmlInformation" message="tns:IEzService_MoreAmlInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/MoreAmlInformationResponse" message="tns:IEzService_MoreAmlInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoreBwaInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/MoreBwaInformation" message="tns:IEzService_MoreBwaInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/MoreBwaInformationResponse" message="tns:IEzService_MoreBwaInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PasswordChanged">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/PasswordChanged" message="tns:IEzService_PasswordChanged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/PasswordChangedResponse" message="tns:IEzService_PasswordChanged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PasswordRestored">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/PasswordRestored" message="tns:IEzService_PasswordRestored_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/PasswordRestoredResponse" message="tns:IEzService_PasswordRestored_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PayEarly">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/PayEarly" message="tns:IEzService_PayEarly_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/PayEarlyResponse" message="tns:IEzService_PayEarly_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PayPointAddedByUnderwriter">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/PayPointAddedByUnderwriter" message="tns:IEzService_PayPointAddedByUnderwriter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/PayPointAddedByUnderwriterResponse" message="tns:IEzService_PayPointAddedByUnderwriter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PayPointNameValidationFailed">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/PayPointNameValidationFailed" message="tns:IEzService_PayPointNameValidationFailed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/PayPointNameValidationFailedResponse" message="tns:IEzService_PayPointNameValidationFailed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RejectUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/RejectUser" message="tns:IEzService_RejectUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/RejectUserResponse" message="tns:IEzService_RejectUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailRolloverAdded">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/EmailRolloverAdded" message="tns:IEzService_EmailRolloverAdded_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/EmailRolloverAddedResponse" message="tns:IEzService_EmailRolloverAdded_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RenewEbayToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/RenewEbayToken" message="tns:IEzService_RenewEbayToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/RenewEbayTokenResponse" message="tns:IEzService_RenewEbayToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestCashWithoutTakenLoan">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/RequestCashWithoutTakenLoan" message="tns:IEzService_RequestCashWithoutTakenLoan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/RequestCashWithoutTakenLoanResponse" message="tns:IEzService_RequestCashWithoutTakenLoan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailVerification">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/SendEmailVerification" message="tns:IEzService_SendEmailVerification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/SendEmailVerificationResponse" message="tns:IEzService_SendEmailVerification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThreeInvalidAttempts">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/ThreeInvalidAttempts" message="tns:IEzService_ThreeInvalidAttempts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/ThreeInvalidAttemptsResponse" message="tns:IEzService_ThreeInvalidAttempts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransferCashFailed">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/TransferCashFailed" message="tns:IEzService_TransferCashFailed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/TransferCashFailedResponse" message="tns:IEzService_TransferCashFailed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CaisGenerate">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/CaisGenerate" message="tns:IEzService_CaisGenerate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/CaisGenerateResponse" message="tns:IEzService_CaisGenerate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CaisUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/CaisUpdate" message="tns:IEzService_CaisUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/CaisUpdateResponse" message="tns:IEzService_CaisUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FirstOfMonthStatusNotifier">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/FirstOfMonthStatusNotifier" message="tns:IEzService_FirstOfMonthStatusNotifier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/FirstOfMonthStatusNotifierResponse" message="tns:IEzService_FirstOfMonthStatusNotifier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FraudChecker">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/FraudChecker" message="tns:IEzService_FraudChecker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/FraudCheckerResponse" message="tns:IEzService_FraudChecker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LateBy14Days">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/LateBy14Days" message="tns:IEzService_LateBy14Days_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/LateBy14DaysResponse" message="tns:IEzService_LateBy14Days_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PayPointCharger">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/PayPointCharger" message="tns:IEzService_PayPointCharger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/PayPointChargerResponse" message="tns:IEzService_PayPointCharger_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetLateLoanStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/SetLateLoanStatus" message="tns:IEzService_SetLateLoanStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/SetLateLoanStatusResponse" message="tns:IEzService_SetLateLoanStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMarketplace">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/UpdateMarketplace" message="tns:IEzService_UpdateMarketplace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/UpdateMarketplaceResponse" message="tns:IEzService_UpdateMarketplace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAllMarketplaces">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/UpdateAllMarketplaces" message="tns:IEzService_UpdateAllMarketplaces_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/UpdateAllMarketplacesResponse" message="tns:IEzService_UpdateAllMarketplaces_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTransactionStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/UpdateTransactionStatus" message="tns:IEzService_UpdateTransactionStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/UpdateTransactionStatusResponse" message="tns:IEzService_UpdateTransactionStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XDaysDue">
      <wsdl:input wsaw:Action="http://tempuri.org/IEzService/XDaysDue" message="tns:IEzService_XDaysDue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEzService/XDaysDueResponse" message="tns:IEzService_XDaysDue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IEzServiceAdmin" type="tns:IEzServiceAdmin">
    <wsp:PolicyReference URI="#NetTcpBinding_IEzServiceAdmin_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Shutdown">
      <soap12:operation soapAction="http://tempuri.org/IEzServiceAdmin/Shutdown" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Nop">
      <soap12:operation soapAction="http://tempuri.org/IEzServiceAdmin/Nop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Terminate">
      <soap12:operation soapAction="http://tempuri.org/IEzServiceAdmin/Terminate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListActiveActions">
      <soap12:operation soapAction="http://tempuri.org/IEzServiceAdmin/ListActiveActions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteToLog">
      <soap12:operation soapAction="http://tempuri.org/IEzServiceAdmin/WriteToLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetHttpBinding_IEzService" type="tns:IEzService">
    <wsp:PolicyReference URI="#NetHttpBinding_IEzService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GreetingMailStrategy">
      <soap12:operation soapAction="http://tempuri.org/IEzService/GreetingMailStrategy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerMarketplaceAdded">
      <soap12:operation soapAction="http://tempuri.org/IEzService/CustomerMarketplaceAdded" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApprovedUser">
      <soap12:operation soapAction="http://tempuri.org/IEzService/ApprovedUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CashTransferred">
      <soap12:operation soapAction="http://tempuri.org/IEzService/CashTransferred" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailUnderReview">
      <soap12:operation soapAction="http://tempuri.org/IEzService/EmailUnderReview" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Escalated">
      <soap12:operation soapAction="http://tempuri.org/IEzService/Escalated" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCashFailed">
      <soap12:operation soapAction="http://tempuri.org/IEzService/GetCashFailed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoanFullyPaid">
      <soap12:operation soapAction="http://tempuri.org/IEzService/LoanFullyPaid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoreAmLandBwaInformation">
      <soap12:operation soapAction="http://tempuri.org/IEzService/MoreAmLandBwaInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoreAmlInformation">
      <soap12:operation soapAction="http://tempuri.org/IEzService/MoreAmlInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoreBwaInformation">
      <soap12:operation soapAction="http://tempuri.org/IEzService/MoreBwaInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PasswordChanged">
      <soap12:operation soapAction="http://tempuri.org/IEzService/PasswordChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PasswordRestored">
      <soap12:operation soapAction="http://tempuri.org/IEzService/PasswordRestored" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PayEarly">
      <soap12:operation soapAction="http://tempuri.org/IEzService/PayEarly" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PayPointAddedByUnderwriter">
      <soap12:operation soapAction="http://tempuri.org/IEzService/PayPointAddedByUnderwriter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PayPointNameValidationFailed">
      <soap12:operation soapAction="http://tempuri.org/IEzService/PayPointNameValidationFailed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectUser">
      <soap12:operation soapAction="http://tempuri.org/IEzService/RejectUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailRolloverAdded">
      <soap12:operation soapAction="http://tempuri.org/IEzService/EmailRolloverAdded" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenewEbayToken">
      <soap12:operation soapAction="http://tempuri.org/IEzService/RenewEbayToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestCashWithoutTakenLoan">
      <soap12:operation soapAction="http://tempuri.org/IEzService/RequestCashWithoutTakenLoan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailVerification">
      <soap12:operation soapAction="http://tempuri.org/IEzService/SendEmailVerification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThreeInvalidAttempts">
      <soap12:operation soapAction="http://tempuri.org/IEzService/ThreeInvalidAttempts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferCashFailed">
      <soap12:operation soapAction="http://tempuri.org/IEzService/TransferCashFailed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaisGenerate">
      <soap12:operation soapAction="http://tempuri.org/IEzService/CaisGenerate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaisUpdate">
      <soap12:operation soapAction="http://tempuri.org/IEzService/CaisUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FirstOfMonthStatusNotifier">
      <soap12:operation soapAction="http://tempuri.org/IEzService/FirstOfMonthStatusNotifier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FraudChecker">
      <soap12:operation soapAction="http://tempuri.org/IEzService/FraudChecker" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LateBy14Days">
      <soap12:operation soapAction="http://tempuri.org/IEzService/LateBy14Days" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PayPointCharger">
      <soap12:operation soapAction="http://tempuri.org/IEzService/PayPointCharger" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLateLoanStatus">
      <soap12:operation soapAction="http://tempuri.org/IEzService/SetLateLoanStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMarketplace">
      <soap12:operation soapAction="http://tempuri.org/IEzService/UpdateMarketplace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAllMarketplaces">
      <soap12:operation soapAction="http://tempuri.org/IEzService/UpdateAllMarketplaces" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTransactionStatus">
      <soap12:operation soapAction="http://tempuri.org/IEzService/UpdateTransactionStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XDaysDue">
      <soap12:operation soapAction="http://tempuri.org/IEzService/XDaysDue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EzServiceImplementation">
    <wsdl:port name="NetTcpBinding_IEzServiceAdmin" binding="tns:NetTcpBinding_IEzServiceAdmin">
      <soap12:address location="net.tcp://localhost:7081/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:7081/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>yulys-PC\yulys</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetHttpBinding_IEzService" binding="tns:NetHttpBinding_IEzService">
      <soap12:address location="http://localhost:7082/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:7082/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>