Backend/StrategiesActivator/Service References/EzServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EzService" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Shutdown">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShutdownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="ShutdownResult" nillable="true" type="q1:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nLengthInSeconds" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="NopResult" nillable="true" type="q2:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Terminate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sActionID" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="TerminateResult" nillable="true" type="q4:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListActiveActions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListActiveActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="ListActiveActionsResult" nillable="true" type="q5:StringListActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStrategiesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStrategiesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="GetStrategiesListResult" nillable="true" type="q6:StringListActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GreetingMailStrategy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nCustomerID" type="xs:int" />
        <xs:element minOccurs="0" name="sConfirmationEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GreetingMailStrategyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="GreetingMailStrategyResult" nillable="true" type="q7:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerMarketplaceAdded">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nCustomerID" type="xs:int" />
        <xs:element minOccurs="0" name="nMarketplaceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerMarketplaceAddedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EzService" minOccurs="0" name="CustomerMarketplaceAddedResult" nillable="true" type="q8:ActionMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>