Integration/IovationLib/Service References/IovationCheckTransactionDetailsNS/CheckTransactionDetails.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:namesp1="http://www.iesnare.com/dra/api/CheckTransactionDetails" targetNamespace="http://www.iesnare.com/dra/api/CheckTransactionDetails" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.iesnare.com/dra/api/CheckTransactionDetails">
      <xsd:element name="CheckTransactionDetails">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="subscriberid" type="xsd:string" />
            <xsd:element name="subscriberaccount" type="xsd:string" />
            <xsd:element name="subscriberpasscode" type="xsd:string" />
            <xsd:element minOccurs="0" name="enduserip" type="xsd:string" />
            <xsd:element minOccurs="0" name="accountcode" type="xsd:string" />
            <xsd:element minOccurs="0" name="beginblackbox" type="xsd:string" />
            <xsd:element minOccurs="0" name="type" type="xsd:string" />
            <xsd:element minOccurs="0" name="txn_properties" nillable="true">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="2" name="property">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="1" name="name" type="xsd:string" />
                        <xsd:element minOccurs="1" name="value" type="xsd:string" />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CheckTransactionDetailsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:string" />
            <xsd:element minOccurs="0" name="reason" type="xsd:string" />
            <xsd:element name="trackingnumber" type="xsd:string" />
            <xsd:element minOccurs="0" name="endblackbox" type="xsd:string" />
            <xsd:element minOccurs="0" name="details">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="1" maxOccurs="unbounded" name="detail">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="1" name="name" type="xsd:string" />
                        <xsd:element minOccurs="1" name="value" type="xsd:string" />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="CheckTransactionDetailsInput">
    <part name="request" element="namesp1:CheckTransactionDetails" />
  </message>
  <message name="CheckTransactionDetailsOutput">
    <part name="response" element="namesp1:CheckTransactionDetailsResponse" />
  </message>
  <portType name="PortType">
    <operation name="CheckTransactionDetails">
      <input message="namesp1:CheckTransactionDetailsInput" />
      <output message="namesp1:CheckTransactionDetailsOutput" />
    </operation>
  </portType>
  <binding name="Binding" type="namesp1:PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CheckTransactionDetails">
      <soap:operation soapAction="http://www.iesnare.com/dra/api/CheckTransactionDetails#CheckTransactionDetails" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Service">
    <port name="CheckTransactionDetails" binding="namesp1:Binding">
      <soap:address location="https://soap.iovation.com/api/CheckTransactionDetails" />
    </port>
  </service>
</definitions>