Integration/LandRegistryLib/Service References/LREnquiryServiceTestNS/EnquiryByPropertyDescriptionV2_0WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://epdv2_0.ws.bg.lr.gov/" name="EnquiryByPropertyDescriptionV2_0WebService" targetNamespace="http://epdv2_0.ws.bg.lr.gov/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:ns3="http://epdv2_0.ws.bg.lr.gov/" xmlns:ns1="http://www.oscre.org/ns/eReg-Final/2011/RequestSearchByPropertyDescriptionV2_0" xmlns:ns2="http://www.oscre.org/ns/eReg-Final/2011/ResponseSearchByPropertyDescriptionV2_0" targetNamespace="http://epdv2_0.ws.bg.lr.gov/">
      <xsd:import schemaLocation="RequestSearchByPropertyDescriptionV2_0.xsd" namespace="http://www.oscre.org/ns/eReg-Final/2011/RequestSearchByPropertyDescriptionV2_0" />
      <xsd:import schemaLocation="ResponseSearchByPropertyDescriptionV2_0.xsd" namespace="http://www.oscre.org/ns/eReg-Final/2011/ResponseSearchByPropertyDescriptionV2_0" />
      <xsd:element name="SOAPEngineSystemException" nillable="true" type="xsd:string" />
      <xsd:element name="searchProperties" type="ns3:searchProperties" />
      <xsd:element name="searchPropertiesResponse" type="ns3:searchPropertiesResponse" />
      <xsd:complexType name="searchProperties">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="ns1:RequestSearchByPropertyDescriptionV2_0Type" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="searchPropertiesResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="ns2:ResponseSearchByPropertyDescriptionV2_0Type" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="propertyDescriptionResponse">
    <part name="parameters" element="tns:searchPropertiesResponse" />
  </message>
  <message name="propertyDescriptionRequest">
    <part name="parameters" element="tns:searchProperties" />
  </message>
  <message name="SOAPEngineSystemException">
    <part name="fault" element="tns:SOAPEngineSystemException" />
  </message>
  <portType name="PropertyDescriptionEnquiryV2_0Service">
    <operation name="searchProperties">
      <input message="tns:propertyDescriptionRequest" />
      <output message="tns:propertyDescriptionResponse" />
      <fault name="SOAPEngineSystemException" message="tns:SOAPEngineSystemException" />
    </operation>
  </portType>
  <binding name="PropertyDescriptionEnquiryV2_0WSImplPortBinding" type="tns:PropertyDescriptionEnquiryV2_0Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="searchProperties">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPEngineSystemException">
        <soap:fault use="literal" name="SOAPEngineSystemException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="EnquiryByPropertyDescriptionV2_0WebService">
    <port name="PropertyDescriptionV2_0WSImplPort" binding="tns:PropertyDescriptionEnquiryV2_0WSImplPortBinding">
      <soap:address location="https://z0.b2b.http.server.landregistry.gov:13007/BGStubService/EnquiryByPropertyDescriptionV2_0WebService" />
    </port>
  </service>
</definitions>